@import "scss/styles";

.playermodule.charts {
    .chart {
        margin-top: $l;
    }
    .row {
        flex-direction: column;

        @include large {
            flex-direction: row;
        }
    }
    .chart .ct-series,
    .chart .indicator {
        &.emea {
            stroke: $red-crow;
            background-color: $red-crow;
        }
        &.ncsa {
            stroke: $black-ice;
            background-color: $black-ice;
        }
        &.apac {
            stroke: $skull-rain;
            background-color: $skull-rain;
        }

        &.ranked {
            stroke: $red-crow;
            background-color: $red-crow;
        }
        &.casual {
            stroke: $black-ice;
            background-color: $black-ice;
        }

        &.accuracy {
            stroke: $red-crow;
            background-color: $red-crow;
        }
        &.hsrate {
            stroke: $black-ice;
            background-color: $black-ice;
        }
    }
}
