@import "scss/styles";

.playermodule.charts {
    .chart {
        margin-top: $l;
    }
    .row {
        flex-direction: column;

        @include large {
            flex-direction: row;
        }
    }
    .chart .ct-series,
    .chart .indicator {
        &.emea {
            stroke: $graphcolor-emea;
            background-color: $graphcolor-emea;
        }
        &.ncsa {
            stroke: $graphcolor-ncsa;
            background-color: $graphcolor-ncsa;
        }
        &.apac {
            stroke: $graphcolor-apac;
            background-color: $graphcolor-apac;
        }

        &.ranked {
            stroke: $graphcolor-emea;
            background-color: $graphcolor-emea;
        }
        &.casual {
            stroke: $graphcolor-ncsa;
            background-color: $graphcolor-ncsa;
        }

        &.accuracy {
            stroke: $graphcolor-emea;
            background-color: $graphcolor-emea;
        }
        &.hsrate {
            stroke: $graphcolor-ncsa;
            background-color: $graphcolor-ncsa;
        }
    }
}
