@import "scss/styles";

.playermodule.charts {
    .chart {
        margin-top: $l;
    }
    .row {
        flex-direction: column;
        margin-bottom: $l*2;

        @include large {
            flex-direction: row;
        }
    }

    .recharts-dot {
        fill: $bg-color;
    }
    .recharts-default-tooltip {
        background: lighten($bg-color, 5%) !important;
        border: lighten($bg-color, 2%) !important;
        color: $font-color;
    }
    .recharts-legend-item-text {
        color: $font-subtle-color;
    }
}
