@import "scss/styles";

.footer {
    background: darken($bg-color, 2%);
    &__container {
        padding: $l;
        display: flex;
        flex-direction: column;
        @include medium {
            padding: $l*3 0;
            flex-direction: row;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        flex: auto;
    }
    &__notice {
        order: 2;
        padding: $l;
        margin-top: $l*2;
        @include medium {
            padding-top: 0;
            margin-top: 0;
            order: 0;
        }
    }
    &__logo {
        width: 85px;
        height: 65px;
        margin-bottom: $l*0.75;
    }
    &__copyright {
        opacity: 0.4;
        font-size: $font-small;
        @include medium {
            margin-right: 75px;
        }
    }
    &__link {
        padding: $l*0.75 $l;
        color: $font-color;
        display: flex;
        line-height: $l*2;
        align-items: center;

        @include medium {
            padding: $l*0.75;
            &--noicon {
                padding-left: $l*2 + $l*2;
            }
        }
    }
    &__icon {
        width: $l*1.75;
        height: $l*1.75;
        margin-right: $l;
        fill: $font-color;
    }
}
