@import "scss/styles";

.footer {
    background: darken($bg-color, 2%);
    &__container {
        padding: $l;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;
        @include medium {
            padding: $l*2 0;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__section {
        display: flex;
        flex: none;
    }
    &__logo {
        width: 85px;
        height: 65px;
        margin-bottom: $l*0.75;
    }
    &__link {
        padding: $l*0.75 $l;
        color: $font-color;
        display: flex;
        line-height: $l*2;
        align-items: center;

        @include medium {
            padding: $l*0.75;
            &--noicon {
                padding-left: $l*2 + $l*2;
            }
        }
    }
    &__icon {
        width: $l*1.75;
        height: $l*1.75;
        margin-right: $l;
        fill: $font-color;
    }
}
