@import "scss/styles";

.addplayermodal {
    &__search {
        background: none;
        margin-top: 0;
    }
    &__results {
        max-height: 50vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        @include medium {
            max-height: 60vh;
        }
    }
    &__close{
        padding: $l 0;
        display: flex;
        justify-content: flex-end;
    }
    &__result {
        cursor: pointer;

        &--selected:after {
            content: "✓";
            width: $l*4;
            height: $l*4;
            flex: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $accent;
            color: $accent;
        }
    }
    .media {
        margin-bottom: $l;

        &__image {
            flex: 0 0 $l*4;
            height: $l*4;
        }

        &__info {
            display: block;
        }
    }
}
