@import "scss/styles";

.addplayermodal {
    &__search {
        background: none;
        height: 3em;
        margin-top: 0;
        margin-bottom: 2em;
    }
    &__results {
        max-height: 50vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        @include medium {
            max-height: 60vh;
        }
    }
    &__close {
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
    }
    &__result {
        cursor: pointer;

        &--selected:after {
            content: "✓";
            width: 4rem;
            height: 4rem;
            flex: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $accent;
            color: $accent;
        }
    }
    .media {
        margin-bottom: 1rem;

        &__image {
            flex: 0 0 4rem;
            height: 4rem;
        }

        &__info {
            display: block;
        }
    }
}
