@import "scss/styles";

.addplayermodal {
    &__search {
        background: none;
        margin-top: 0;
    }
    &__results {
        max-height: 50vh;
        overflow: auto;

        @include medium {
            max-height: 60vh;
        }
    }
    &__result {
        border-left: 5px solid transparent;
        &--selected {
            border-color: $primary;
        }
    }
    .media {
        margin-bottom: $l;

        &__image {
            flex: 0 0 $l*4;
            height: $l*4;
        }

        &__info {
            display: block;
        }
    }
}
