@import "scss/styles";

.leaderboard.charts {
    .chart {
        margin-top: $l;
    }
    .row {
        flex-direction: column;
        margin-bottom: $l*2;

        @include large {
            &.half {
                flex-direction: row;
            }
            > * {
                width: 50%;
            }
            flex-direction: column;
        }
    }
    .tooltip {
        background-color: darken($bg-color, 2%);
        padding: $l;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__box {
            margin-left: $l;
        }
        &__name {
            font-size: $font-bigger;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
        &__value,
        &__percentage {
            color: $font-subtle-color;
        }
    }
    .recharts-default-tooltip {
        background: lighten($bg-color, 5%) !important;
        border: lighten($bg-color, 2%) !important;
        color: $font-color;
    }
    .recharts-default-legend {
        position: relative;
        top: 10px;
        right: -10px;
    }
    .recharts-legend-item-text {
        font-size: 12px;
        color: $font-subtle-color;
        margin-left: 5px;
    }
    .recharts-cartesian-grid {
        stroke: rgba(255, 255, 255, 0.04);
        &-horizontal line {
            stroke-dasharray: 0;
        }
    }
    .recharts-cartesian-axis {
        &-line,
        &-tick-line {
            stroke: rgba(255, 255, 255, 0.04);
        }
        &.yAxis {
            tspan {
                font-size: 11px;
            }
        }
        &.xAxis {
            .recharts-cartesian-axis-tick {
                visibility: hidden;
                &:first-child {
                    visibility: visible;
                }
                &:last-child {
                    visibility: visible;
                }

                @include medium {
                    visibility: visible;
                }
            }
            tspan {
                font-size: 11px;
                margin-top: 50px;
            }
        }
    }
}
