@import "styles";

.detail{
    /* header above the stats content*/
	&-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2%;

        @include large{
            flex-direction: row;   
            padding: $l;
        }
    }
    /* the left header block with pic, name and id */
    &-caption{
        display: flex;
        flex-direction: row;
        height: $detail-imagesmall;
        flex: 1 0 auto;

        @include large{
            height: $detail-imagelarge;
        }
    }
    /* in caption: only image */
    &-image{
        width: $detail-imagesmall;
        height: $detail-imagesmall;
        flex: 0 0 auto;
        margin-right: 2%;

        @include large{
            width: $detail-imagelarge;
            height: $detail-imagelarge;
        }
    }
    /* in caption: only name and id*/
    &-idblock{
        display: block;
        flex: 0 1 auto;
        overflow: hidden;
    }
    /* in idblock: player name*/
    &-name{
        font-size: 2rem;
        line-height: 1.3;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include large {
            font-size: 3rem;
        }
    }
    /* in idblock: player id with link back to uplay*/
    &-id{
        color: $primary;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    /* in idblock: player level */
    &-level{
        font-size: 1em;

        @include large {
            font-size: 2rem;
        }
    }

    /* block in the top right with time metadata */
    &-timeblock{
        margin-top: $l;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        @include medium{
            width: auto;
            justify-content: flex-start;
        }

        .value{
            font-weight: bold;
            margin-left: .5em;
        }
    }
    /* in timeblock */
    &-firstseen{
        margin-right: 2*$l;
        @include medium{
            margin-right: 0;
        }
    }


    /* stat overview card */
    &-summary{
        padding-left: 0;
        padding-right: 0;
    }
}