@import "styles";

$searchbar-height: $l*5.4;
$detail-image-height: 146px;
$detail-header-height: $detail-image-height + (5*$l);
.detail{
	width: 100%;
	min-height: 100vh;
	color: $white;
	display: flex;
	flex-direction: column;

	.search-form{
		flex: 0 0 auto;
	}
}
.detail-player{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.detail-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: $screen-yourmom;
	height: $detail-image-height;
	flex: 0 0 auto;
	box-shadow: 1px 1px 3px black;
}

.season-ranks {
	margin-top: 15px;
}

.season-rank {
	float: left;
	margin-right: 40px;
}

.rank-image {
	width: 60px;
}

@media (min-width: 1024px) {
	.detail-header-left {
		width: calc(100% - 430px);
		float: left;
	}
	.detail-header-right {
		width: 430px;
		float: right;
	}
}

@media (min-width: 800px) and (max-width: 1023px) {
	.detail-header-left {
		float: left;
		width: 60%;
	}
	.detail-header-right {
		float: right;
		width: 200px;
		margin-top: -28px;
	}
	.rank-image {
		width: 50px;
	}
	.rank-season {
		font-size: 0.8rem;
	}
}

@media (max-width: 799px) {
	.detail-headerimage {
		display:none;
	}
	.detail-header-right {
		float: right;
		width: 180px;
		margin-top: -95px;
	}
	.rank-image {
		width: 50px;
	}
	.rank-season {
		font-size: 0.6rem;
		text-align: center;
	}
}

@media (min-width: 510px) and (max-width: 799px) {
	.detail-header-right {
		margin-top: -117px;
	}
}

.detail-headerimage{
	width: $detail-image-height;
	height: $detail-image-height;
	img{
		width: 100%;
		height: 100%;
		background: url(/assets/noavatar.png) no-repeat;
		background-size: cover;
	}
}

.detail-headertext{
	height: 146px;
	padding: (2*$l) 0 (3*$l) (2*$l);
	background: rgba(0, 0, 0, 0.4);
	flex: 1;
}
.detail-name{
	font-size: 2rem;
	font-weight: bold;
	line-height: 6*$l;
	text-shadow: 0 0 1px $gray-dark;
	@include medium {
		font-size: 3rem;
		line-height: 8*$l;
	}
}

.detail-id{
	color: $accent;
}
.detail-content{
	background: $gray-dark;
	box-shadow: 1px 0 1px $gray-dark;
	width: 100%;
	max-width: $screen-yourmom;
	margin: 0 auto;
}

.detail-backdrop{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0 ,0, 0, 0.3);
	display: block;
	transition: all $tdur ease-out;
	transform: translate(100%, 0);
	z-index: -1;
}

.detail-info{
	padding: $l*2 0;
	flex: 1 1 auto;
	overflow: hidden;
}

.detail-aliases{
	// height is detail-content height - all the paddings;
	display: flex;
	flex-direction: row;
	overflow: auto;
	width: auto;
	transform: translateZ(0);
	backface-visibility: hidden;
	&:after{
		content: "";
		display: block;
		width: 20px;
		height: 100%;
		right: 0;
		top: 0;
	}
}

.detail-stats{
	padding: 0 $l*2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}


.detailerror{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.detailerror-title{
	height: 146px;
	flex: 0;
	width: 100%;
	max-width: $screen-yourmom;
	margin: 0 auto;
	padding: (2*$l) 0 (3*$l) (2*$l);
	background: rgba(0, 0, 0, 0.4);
	font-size: 3rem;
	line-height: 106px;
	font-weight: bold;
	text-shadow: 0 0 1px $gray-dark;
}
.detailerror-content{
	background: $gray-dark;
	box-shadow: 0 0 5px $gray-dark;
	max-width: $screen-yourmom;
	width: 100%;
	margin: 0 auto;
}

.detailerror-message{
	padding: $l*2;
	line-height: 1.4;
}