@import "scss/styles";

.player{
    padding: 0 $l;
    display: flex;
    flex-direction: column;
    width: 100%;

    .tabs{
        flex: 1 1 auto;
    }
    .tab-content{
        display: flex;

        >*{
            flex: auto;
        }
    }

    &-module{
        @include card;
        margin: $l 0;

        &-header{
            @include card-header;
        }
        &-content{
            @include card-content;
        }
        &-divider{
            @include card-divider;
        }
    }
}