{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "loose": true,
                "targets": {
                    "uglify": true,
                    "browsers": [">5%"]
                },
                "useBuiltIns": true
            }
        ],
        "minify"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-react-jsx",
        "transform-react-display-name"
    ]
}
