{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "uglify": true
      }
    }]
  ],
  "plugins": [
		"transform-object-rest-spread",
		["transform-react-jsx", {"pragma": "m"}]
  ]
}
