{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false,
                "loose": true,
                "targets": {
                    "browsers": [">1%", "Safari >= 10", "Chrome 41"]
                },
                "useBuiltIns": "entry"
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/transform-react-jsx",
        "transform-react-display-name",
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-syntax-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "react-hot-loader/babel",
        "lodash",
        "recharts"
    ]
}
