{
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"rules": {
		"semi": [2, "always"],
		"indent": [2, 4, {"SwitchCase": 1}],
		"quotes": [2, "double", {"allowTemplateLiterals": true}],
		"curly": [2, "all"],
		"eqeqeq": [2, "smart"],
		"no-alert": [2],
		"no-caller": [2],
		"array-bracket-spacing": [2, "never"],
		"block-spacing": [2, "always"],
		"brace-style": [2, "1tbs", {"allowSingleLine": true}],
		"camelcase": [2],
		"comma-spacing": [2],
		"key-spacing": [2],
		"new-cap": [2],
		"new-parens": [2],
		"newline-per-chained-call": [2],
		"no-mixed-spaces-and-tabs": [2],
		"no-spaced-func": [2],
		"one-var": [2, "never"],
		"one-var-declaration-per-line": [2, "always"],
		"space-before-blocks": [2, "always"],
		"arrow-body-style": [2, "as-needed"],
		"arrow-parens": [2, "as-needed"],
		"arrow-spacing": [2],
		"no-var": [2],
		"no-useless-rename": [2],
		"object-shorthand": [1, "always"],
		"prefer-rest-params": [1],
		"prefer-const": [2],
		"prefer-spread": [2]
	}
}
