.alias{
	display: flex;
	flex-direction: row;
	padding: $l ($l*3) $l $l;
	height: 4*$l;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 2px solid $white;
		background: $gray-dark;
		z-index: 1;
		transform: translate(-7px, 14px);
	}
}
.alias + .alias{
	margin-top: $l*3;
	&:before{
		content: "";
		position: absolute;
		right: 0%;
		top: 0;
		width: 2px;
		height: 54px;
		background: $white;
		transform: translate(-14px, -40px);
	}

}
.alias-time{
	flex: 0 0 150px;
	position: relative;
	padding-top: 5px;
	text-align: right;
}
.alias-name{
	@include siege;
	font-weight: bold;
	font-size: 1.7em;
	text-align: left;
	flex: 1;
}
