.button {
    padding: 0.75em 1.25em;
    background: $gray;
    color: $white;
    border: 1px solid $gray;
    border-radius: $borderradius;
    font-size: $font-default;
    font-weight: 600;
    cursor: pointer;
    width: auto;
    &[disabled] {
        color: $gray;
        cursor: default;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
        box-shadow: 1px 1px 5px fade-out($gray-dark, 0.6);
    }
    &--block {
        display: block;
    }
    &--outline {
        background: none;
    }
    &--primary {
        border-color: $primary;
        background: $primary;
        color: $white;
    }
    &--outline--primary {
        border-color: lighten($primary, 10%);
        background: none;
        color: lighten($primary, 10%);
    }
    &--accent {
        border-color: darken($accent, 15%);
        background: $accent;
        color: $white;
    }
    &--outline--accent {
        border-color: darken($accent, 15%);
        background: none;
        color: $accent;
    }
    &--subtile {
        border-color: darken($accent, 15%);
        background: $accent;
        color: $white;
    }
    &--outline--subtile {
        border-color: lighten($font-subtle-color, 20%);
        background: none;
        color: lighten($font-subtle-color, 20%);
    }
}
