.button {
    padding: 0.5em 1em;
    border: 1px solid darken($gray, 15%);
    background: $gray;
    color: $white;
    border-radius: $borderradius;
    box-shadow: 1px 1px 3px fade-out($gray-dark, 0.6);

    cursor: pointer;
    width: auto;
    &[disabled] {
        color: $gray;
        cursor: default;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
        box-shadow: 1px 1px 5px fade-out($gray-dark, 0.6);
    }
    &--block {
        display: block;
    }
    &--outline {
        background: none;
    }
    &--primary {
        border-color: darken($primary, 15%);
        background: $primary;
        color: $white;
    }
    &--accent {
        border-color: darken($accent, 15%);
        background: $accent;
        color: $white;
    }
}
