.card{
    margin-bottom: $l;
    padding: $l;
    background: $white;
    color: $gray-dark;
    position: relative;
    @include boxshadow;

	&.is-empty{
		text-align: center;
		justify-content: center;
	}
}