.card {
    @include card;
    width: 100%;
    margin: 1rem;
    display: block;

    &-header {
        @include card-header;
    }
    &-content {
        @include card-content;
    }
    &-divider {
        @include card-divider;
    }
}
