.level{
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .leve-item{
        flex: 1;
    }
}
.level-left{
    display: flex;
    align-items: center;
	align-self: flex-start;
    >.level-item:not(:last-child){
        margin-right: .75rem;
    }
}
.level-right{
    display:flex;
    align-items: center;
    align-self: flex-end;
    >.level-item:not(:last-child){
        margin-right: .75rem;
    }
}
