.module{
	flex: 0 1 48%;
	margin-bottom: 2*$l;
	background: rgba(0, 0, 0, 0.1);
	padding: $l;

	@include small {
		flex: 1 1 100%;
		max-width: none;
	}

	@include medium {
		flex: 0 1 48%;
		min-width: 300px;
		max-width: 502px;
	}

	&.is-wide{
		max-width: 100%;
		flex: 1 1 100%;
	}
}
.module-header{
	@include siege;
	font-weight: bold;
	border-bottom: 1px solid $gray;
	font-size: 1.5em;
	padding-bottom: 5px;
	letter-spacing: 2px;
	.subtle{
		color: $gray-light;
	}
}
.module-row{
	display: flex;
	flex-direction: row;
	padding: $l 0;
}
.module-label{
	flex: 1 1 35%;
}
.module-value{
	flex: 1 1 65%;
	text-align: right;
}
