.nav{
    display: flex;
    align-items: stretch;
    height: $nav-height;
    position: relative;
	width: 100%;
    text-align: center;

    &.has-shadow{
        box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    }
	&.is-tabs{
		.nav-item{
			flex: 1;
		}
	}

    &.is-primary{
        background: $primary;
        color: $white;
        &.is-transparent{
            background: fade-out($primary, 0.2);
        }
    }
    &.is-accent{
        background: $accent;
        color: $white;
        &.is-transparent{
            background: fade-out($accent, 0.2);
        }
    }
    &.is-light{
        background: $gray-light;
        color: $white;
        &.is-transparent{
            background: fade-out($gray-light, 0.2);
        }
    }
    &.is-dark{
        background: $gray-dark;
        color: $white;
        &.is-transparent{
            background: fade-out($gray-dark, 0.2);
        }
    }
}
.nav-left,
.nav-right,
.nav-center{
    display: flex;
    align-items: stretch;
    flex: 1;
    overflow: hidden;
}
.nav-left{
    justify-content: flex-start;
}
.nav-right{
    justify-content: flex-end;
}
.nav-center{
    justify-content: center;
}

.nav-item{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: .75rem;
	color: $gray-light;
	border-bottom: 2px solid transparent;
	&:hover{
		color: $white;
	}
	&.is-active{
		color: $white;
	}
    a{
        color: $gray-light;
        &:hover{
            color: $white;
        }
        &.is-active{
            color: $white;
        }
    }
}