.title{
    color: $gray-light;

    &.is-1{font-size: 3rem;}
    &.is-2{font-size: 2.5rem;}
    &.is-3{font-size: 1.75rem;}
    &.is-4{font-size: 1.5rem;}
    &.is-5{font-size: 1.125rem;}
}
.subtitle{
    color: lighten($gray-dark, 25%);

    &.is-1{font-size: 3rem;}
    &.is-2{font-size: 2.5rem;}
    &.is-3{font-size: 1.75rem;}
    &.is-4{font-size: 1.5rem;}
    &.is-5{font-size: 1.125rem;}
}
