.header {
    font-weight: bold;
    margin: 5rem auto 2rem;
    font-size: $font-huge;

    &--small {
        font-size: $font-tiny;
    }
    &--subtle {
        color: $font-color-subtle;
    }
}

.paragraph {
    line-height: 1.4em;
    margin: 1rem 0;
}
