.header {
    font-weight: bold;
    margin: $l * 5 auto $l * 2;
    font-size: fz(5);

    &--small {
        font-size: fz(3);
    }
    &--subtle {
        color: $font-subtle-color;
    }
}

.paragraph {
    line-height: 1.4em;
    margin: $l 0;
}
