@import "scss/styles";

$low: hsl(2, 67%, 46%);
$mid-low: hsl(22, 67%, 46%);
$mid: hsl(56, 67%, 46%);
$mid-high: hsl(76, 67%, 46%);
$high: hsl(133, 66%, 46%);
$nutty: hsl(170, 66%, 46%);

.scale {
    &--low {
        color: $low;
    }
    &--med-low {
        color: $mid-low;
    }
    &--med {
        color: $mid;
    }
    &--med-high {
        color: $mid-high;
    }
    &--high {
        color: $high;
    }
    &--nutty {
        color: $nutty;
    }
}
