@import "scss/styles";
.menu {
    width: 100%;
    height: $menu-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__logo {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 0 0 auto;
    }
    &__item {
        color: $white;
        padding: ($l*2) $l;
        margin: 0;
        font-weight: 600;
        cursor: pointer;
        transition: 100ms linear color;
        &:focus {
            outline: none;
            border: none;
            color: desaturate($color: $accent, $amount: 0.75);
        }
        &:hover {
            color: $accent;
        }
    }
    &__search {
        order: 1;
        .searchbar {
            margin: 0;
        }
        @include medium {
            order: 2;
        }
    }
    &__links {
        order: 2;
        @include medium {
            order: 1;
            flex: 1;
        }
    }
}
