@import "scss/styles";

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: $menu-width;
    min-height: 100%;
    padding: $l;
    background: $menu-background;

    &__logo {
        display: flex;
        color: $white;
        margin: $l * 1.25;

        svg {
            height: 50px;
            width: 75px;

            @include medium {
                height: 75px;
                width: 115px;
            }
        }
    }
    &__section {
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-start;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: $l;
        color: rgba($white, 0.8);
        font-weight: 400;
        font-size: fz(0);
        cursor: pointer;
        transition: 100ms linear color;
        letter-spacing: 0.02em;

        &.active {
            color: $white;
            font-weight: 600;
        }
        &:focus {
            outline: none;
            border: none;
            color: $white;
            font-weight: 600;
        }
        &:hover {
            color: $white;
        }

        @include medium {
            padding: $l * 1.25;
        }
    }
    &__links {
        flex-direction: column;
        align-items: stretch;
    }
    &__icon {
        width: $l * 2.25;
        height: $l * 2.25;
        margin-right: $l * 2;
        fill: $font-color;
    }
    &__divider {
        height: 1px;
        background-color: $font-subtle-color;
        opacity: 0.2;
        margin: $l * 0.75;

        @include medium {
            margin: $l * 1.2;
        }
    }
    &__sublinks {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        .menu__icon {
            margin: 0;
        }

        @include medium {
            flex-grow: 1;
        }
    }
    &__copyright {
        color: $font-subtle-color;
        margin: $l;
        font-size: fz(-1);
        text-align: center;
    }
}
