@import "styles";

.opstab{
    .opstab-controls{
        margin: $l;
        display: flex;
        p{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 $l;

            @include medium{
                flex-direction: row;
            }
        }
        label{
            margin: 0 $l 0 0;
            font-size: 0.9em;
        }
    }

    .operator-table{
        flex: 1;

        .fauxtable-cell{
            text-align: right;
        }
        .fauxtable-heading{
            cursor: pointer;
            user-select: none;
        }
        .fauxtable-heading,
        .fauxtable-cell{
            padding: ($l*1.5) ($l*2);
        }
        .fauxtable-row{
            background: $trans-med;
            &:hover {
                background: lighten($trans-med, 10%);
            }
        }
        .fauxtable-row:nth-child(even){
            background: fade-out($trans-med, 0.4);
            &:hover {
                background: lighten(fade-out($trans-med, 0.4), 20%);
            }
        }
        .name{
            text-align: center;
        }

        @include medium{
            .fauxtable-cell,
            .fauxtable-heading{
                flex: 1 0 0;
            }
            .name{
                text-align: left;
                flex-grow: 4;
            }
            .won{
                text-align: right;
                flex-grow: 2;
            }
            .kpr{
                text-align: right;
                flex-grow: 2;
            }
            .lost{
                text-align: right;
                flex-grow: 2;
            }
            .wlr{
                text-align: right;
                flex-grow: 3;
            }
            .kills{
                text-align: right;
                flex-grow: 2;
            }
            .deaths{
                text-align: right;
                flex-grow: 2;
            }
            .kdr{
                text-align: right;
                flex-grow: 2;
            }
            .time{
                text-align: right;
                flex-grow: 3;
            }
        }
    }
}