@import "scss/styles";

.page {
    flex: 1;
    flex-direction: column;
    position: relative;
    background: $bg-color;
    min-height: 100vh;

    &--empty {
        .page__content {
            height: calc(100% - 100px);
            flex: 0 0 auto;
        }
    }

    @include medium {
        display: flex;
    }
    &__head {
        flex: none;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .header {
            margin-top: 0;
        }

        &content {
            z-index: 1;
            width: 100%;
            background: linear-gradient(rgba($bg-color, 0), rgba($bg-color, 1) 98%);

            @include medium {
                padding: $l*4 0;
            }
        }
    }
    &__image {
        position: absolute;
        z-index: 0;
        object-fit: cover;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        opacity: 1;
        top: -40px;
        height: calc(100% + 35px);
        opacity: 0.3;
        position: absolute;
        filter: saturate(130%) contrast(120%);

        @include medium {
            top: -80px;
            height: calc(100% + 75px);
        }
    }

    &__content {
        flex: 1 1 100%;
        padding: $l*3 0;
    }
}
