@import "scss/styles";

.page {
    flex: 1;
    flex-direction: column;
    position: relative;
    background: $bg-color;
    padding-top: 40px;

    @include medium {
        padding-top: 80px;
        display: flex;
    }
    &__head {
        flex: 0 1 auto;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .header {
            margin-top: 0;
        }

        &content {
            z-index: 1;
            width: 100%;
            padding: 50px $l;
        }
    }
    &__image {
        position: absolute;
        z-index: 0;
        object-fit: cover;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        opacity: 0;
        top: -40px;
        height: calc(100% + 40px);
        filter: saturate(120%) contrast(110%);

        @include medium {
            top: -80px;
            height: calc(100% + 80px);
        }
    }

    &__content {
        flex: 1 1 100%;
        padding: ($l*3) $l $l;
    }
}
