@import "scss/styles";

.stat {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5*$l;

    &-label {
        color: $gray;
        margin-right: $l*0.5;
    }
    &-value {
        white-space: pre;
    }
    &__value {
        font-size: $font-huge;
        font-weight: 300;
    }
    &__label {
        margin-left: $l;
        font-weight: 600;
    }
}
