@import "scss/styles";

.stat {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    font-size: $font-big;

    &--big {
        flex-direction: column;
        margin-bottom: 1.5rem;
        .stat__label {
            margin-bottom: 0.5rem;
        }
        .stat__value {
            font-weight: 400;
            font-size: $font-large;
        }
    }

    &__value {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        font-weight: 600;
    }
    &__label {
        color: $font-color-subtle;
    }
}
