@import "scss/styles";

.stat {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;

    &-label {
        color: $color-gray;
        margin-right: 0.5rem;
    }
    &-value {
        white-space: pre;
    }
    &__value {
        font-size: $font-bigger;
        font-weight: 300;
    }
    &__label {
        margin-left: 1rem;
        font-weight: 600;
        color: $font-color-subtle;
        font-size: $font-small;
    }
}
