@import "scss/styles";

.playerheader {
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include medium {
            flex-direction: row;
            align-items: stretch;
            text-align: left;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        @include medium {
            align-items: flex-start;
        }
    }
    &__image {
        width: 8rem;
        height: 8rem;
        background-color: $bg-color-dark;
        border-radius: $borderradius;
        overflow: hidden;
        flex: none;
        @include boxshadow;

        @include medium {
            width: 12rem;
            height: 12rem;
            margin-right: 3rem;
        }
    }
    &__namebox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include medium {
            justify-content: flex-start;
        }
    }
    &__namewrapper {
        flex: 1 0 100%;
        align-items: baseline;

        @include medium {
            flex: none;
        }
    }
    &__platform {
        opacity: 0.5;
        font-size: $font-small;
        margin-left: 1rem;
    }
    &__level {
        margin-top: 0.75rem;
        opacity: 0.5;

        @include medium {
            margin-top: 0;
        }
    }
    &__flair {
        @include flair;
        font-size: 1.2rem;

        @include medium {
            margin-left: 1.5rem;
        }
    }
    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5rem;

        .hidden-small {
            display: none;
            visibility: hidden;

            @include medium {
                display: initial;
                visibility: visible;
            }
        }
    }
    &__link {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $font-color;
        font-weight: 600;
        margin-left: 1.5rem;
        &:first-child {
            margin-left: 0;
        }
        .icon {
            width: 2rem;
            height: 2rem;
            fill: $font-color;
            margin-right: 0.5em;
        }
    }
    &__divider {
        margin-left: 1.5rem;
    }
    &__tabs {
        display: flex;
        flex: 1 0 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05s);

        @include medium {
            flex-direction: row;
            align-items: flex-end;
        }

        &--left {
            display: flex;
            justify-content: center;

            @include medium {
                justify-content: flex-start;
            }
        }
        &--right {
            display: flex;
            justify-content: center;
            flex: 1;

            .playerheader__tab {
                padding: 1.5rem;
                margin: 0 0.25rem;
            }

            @include medium {
                justify-content: flex-end;
            }
        }
    }
    &__tab {
        color: $font-color-subtle;
        font-size: $font-big;
        font-weight: 600;
        padding: 1.5rem 3rem;
        border-bottom: 2px solid transparent;

        .icon {
            width: 2rem;
            height: 2rem;
            stroke: currentColor;
            fill: currentColor;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            color: $font-color;
        }
        &--active {
            color: $color-accent;
            border-color: $color-accent;
            &:hover {
                color: $color-accent;
            }
        }

        &.update {
            color: $font-color-subtle;
            border-color: $font-color-subtle;

            &--active {
                color: $color-accent;
                border-color: $color-accent;
                cursor: pointer;
            }
        }
        &.favorite {
            color: $font-color;
            border-color: $font-color;
            cursor: pointer;

            &--active {
                color: $color-primary;
                border-color: $color-primary;
            }
        }
    }
}
