@import "scss/styles";

.playerheader {
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-bigger;
        text-align: center;

        @include medium {
            flex-direction: row;
            align-items: stretch;
            text-align: left;
        }
    }
    &__image {
        width: $l*10;
        flex: none;
        margin-right: $l;
    }
    &__name {
        margin: 0;
        font-weight: 500;
        line-height: 1.4;
    }
    &__level {
        font-size: $font-default;
        color: $font-subtle-color;
    }
    &__platform {
        display: inline-block;
        margin: 0 0 0 $l;
        font-weight: 700;
    }
    &__flair {
        margin-left: $l*2;
        padding: ($l*0.5) $l;
        border-radius: $l;
        border: 1px solid $primary;
        color: $primary;
        text-align: center;
        display: inline-block;
        font-size: $font-smaller;
    }
    &__ranking {
        margin-top: $l;
    }
    &__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: $font-default;
        flex: 1;
        margin: $l 0;

        @include medium {
            margin: 0;
            align-items: flex-end;
        }

        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: $l 0;

            @include medium {
                margin: 0;
            }
        }
    }
    &__link {
        display: inline-flex;
        align-items: center;
        margin-left: $l;
        color: $font-color;
        .icon {
            width: $l*2;
            height: $l*2;
            fill: $font-color;
            margin-right: 5px;
        }
    }
    &__tabs {
        margin: ($l*2) 0 0;
        display: flex;
    }
    &__tab {
        flex: 1;
        transition: all 100ms ease-out;
        border-bottom: 3px solid transparent;
        padding: $l;
        text-align: center;
        font-weight: bold;
        color: $font-color;

        &:focus {
            outline: none;
        }
        &--active {
            color: $accent;
            border-color: $white;
        }
    }
}
