@import "scss/styles";

.playerheader {
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: fz(0);
        text-align: center;

        @include medium {
            flex-direction: row;
            align-items: stretch;
            text-align: left;
        }
    }
    &__image {
        width: 10rem;
        height: 10rem;
        flex: none;
        background-color: $trans-low;
        @include boxshadow;

        @include medium {
            margin-right: 1rem;
        }
    }
    &__info {
        @include medium {
            margin-left: 2rem;
        }
    }
    &__namebox {
        margin: 1rem 0 !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include medium {
            margin-top: 0 !important;
            margin-bottom: 0.75rem !important;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: row;
            font-size: 4rem;
        }
    }
    &__name {
        font-weight: 400;
    }
    &__namewrapper {
        flex: 1 0 100%;
        align-items: baseline;

        @include medium {
            flex: none;
        }
    }
    &__level {
        font-size: fz(0);
        color: rgba($white, 0.5);
        padding-left: 3px;
    }
    &__platform {
        display: inline-block;
        font-weight: 600;
        font-size: 0.8em;
        color: rgba($white, 0.5);
        margin-left: 1rem;
    }
    &__flair {
        @include flair;
        font-size: 1.2rem;
        margin-top: 1rem;

        @include medium {
            margin-left: 2rem;
        }
    }
    &__ranking {
        margin-top: 1rem;
    }
    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: fz(1);
        margin: 1rem 0;
        flex-wrap: wrap;

        @include medium {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-top: 1.5rem;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__divider {
        margin-left: 1.5rem;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        margin-top: 2rem;

        @include medium {
            margin-top: 0;
        }
    }
    &__button {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        align-items: center;
        font-size: fz(0);
        height: 40px;

        &:first-child {
            margin-left: 0;
        }
        &.active {
            .icon {
                fill: currentColor;
            }
        }
        .icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: transparent;
            stroke: currentColor;
            margin-right: 0.75rem;
        }
    }
    &__link {
        display: inline-flex;
        align-items: center;
        margin-left: 1.5rem;
        padding-left: 3px;
        color: $font-color;
        font-size: fz(-1);
        font-weight: 600;

        &:first-child {
            margin-left: 0;
        }
        .icon {
            width: 2rem;
            height: 2rem;
            fill: $font-color;
            margin-right: 0.5em;
        }

        &.download {
            display: none;
            visibility: hidden;

            @include medium {
                display: flex;
                visibility: visible;
            }
        }
    }
    &__tabs {
        display: flex;
        margin-top: 3rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05s);
    }
    &__tab {
        flex: 1;
        padding: 1.5rem 1rem;
        transition: all 100ms ease-out;
        border-bottom: 2px solid transparent;
        text-align: center;
        font-size: 1.125em;
        font-weight: 600;
        color: darken($font-color, 20%);

        &:focus {
            outline: none;
        }
        &:hover {
            color: $font-color;
        }
        &--active {
            color: $accent;
            border-color: $accent;
            &:hover {
                color: $accent;
            }
        }

        @include large {
            padding: 1.5rem 3rem;
            flex: 0;
        }
    }
}
