@import "scss/styles";

.aliases {
    padding-bottom: 1rem;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: none;
        @include large {
            flex-direction: column;
            overflow-y: auto;
            .alias {
                text-align: left;
            }
        }

        .alias {
            text-align: center;
        }
    }
    &__expand {
        display: flex;
        color: $font-color-subtle;
        width: 100%;
        align-items: center;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        .icon {
            width: 2rem;
            height: 2rem;
            margin-top: 2px;
            margin-right: 1rem;
        }
    }

    .playermodule__content {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @include large {
            flex-direction: column;
        }
    }
}
.player .alias {
    padding: 0.5rem 1rem;
    position: relative;
    margin-bottom: 1rem;
    flex: none;

    @include medium {
        padding-left: 0;
    }

    &-time {
        color: $font-color-subtle;
        font-size: $font-default;
    }
    &-name {
        margin-top: 0.25rem;
        font-size: $font-big;
        font-weight: 600;
        letter-spacing: 0.025em;
    }
}
