@import "scss/styles";

.aliases {
    padding-bottom: $l;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: none;
        @include large {
            flex-direction: column;
            overflow-y: auto;
            .alias {
                text-align: left;
            }
        }

        .alias {
            text-align: center;
        }
    }
    &__expand{
        display: flex;
        color: $font-subtle-color;
        width: 100%;
        align-items: center;
        cursor: pointer;

        &:focus {
            outline: none;
        }


        .icon {
            width: $l*2;
            height: $l*2;
            margin-top: 2px;
            margin-right: $l;
        }
    }

    .playermodule__content{
        margin-top: $l;
        display: flex;
        flex-direction: row;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @include large {
            flex-direction: column;
        }
    }
}
.player .alias {
    padding: (0.5*$l) 0;
    position: relative;
    margin-bottom: $l;
    flex: none;

    &-time {
        color: $gray;
        font-size: 0.9em;
    }
    &-name {
        font-size: 1.1em;
    }
}
