@import "styles";

.search-title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 30vh);
	text-align: center;

	svg {
		min-height: 75px;
		height: 15vh;
		margin: 0 auto;
		fill: $white;
		stroke: $black;
		stroke-width: 1px;
		stroke-opacity: 1;
	}
}

.is-initial {
	.app{
		.search{
			margin-top: 40vh;
		}
		.search-form{
			height: $l*5;
			width: 96%;
			margin: 0 auto;
			background: $white;
			box-shadow: 0 0 5vh rgba(23, 22, 22, 0.52);
		}
		input:focus{
			outline: none;
		}
		.search-submit {
			padding: .5em 2em;
		}
	}
	@include medium{
		.drawer .search-form{ display: none; }
	}
}