@import "styles";

.search-title{
	text-align: center;
	margin-top: 25vh;
	svg {
		height: 15vh;
		margin: 0 auto;
		fill: $white;
		stroke: $black;
		stroke-width: 1px;
		stroke-opacity: 1;
	}
}


.search-footer{
	margin: 3em auto;
	width: 300px;
	color: $white;
	flex: 0 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 5vh;
	// anim
	position: absolute;
	bottom: 0;
	transition: all $tdur ease-out;
	opacity: 1;
	transform: none;
	display: flex;

	a{
		color: $accent;
	}
	.footer-stats{
		padding: 5px;
	}
}