@import "scss/styles";

.privacy {
    line-height: 1.4;

    p {
        margin: 2rem 0;
    }

    h2 {
        font-size: 1.5em;
        margin: 3rem 0 1rem;
    }
    h3 {
        font-size: 1.25em;
        margin: 1rem 0 0;
    }
    a {
        color: $accent;
    }
    ul {
        margin: 2rem 0;
        padding-left: 3rem;
        list-style-type: initial;
    }
}
