@import "styles";

.idcard{
    display: flex;
    flex-direction: row;
    height: $l*10;

    &-image{
        height: 100%;
        width: auto;
        img{
            height: 100%;
            width: auto;
        }
    }
    &-text{
        padding: $l;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-name{
        font-size: 1.125em;
        margin-bottom: $l*0.5;
    }
    &-links{
        a{
            color: $gray;
            display: block;
            line-height: 1.25;
            font-size: 0.9em;
        }
    }
    &-id{
        font-size: 0.75em;
        margin-bottom: $l;
    }
}