@import "styles";

.aliases .card-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    text-align: center;
    justify-content: space-around;

    @include large{
        text-align: left;
        flex-direction: column;
    }
}

.alias{
    flex: 1 0 auto;
    margin: 0 ($l*2) 0 0;
    position: relative;
    padding: ($l*3) 0 0 0;

    @include large{
        margin: 0 0 ($l * 2) 0;
        padding: 0 0 0 ($l*3);

        &:before{
            left: $l*1.5;
            top: 50%;
        }
        &:after{
            width: 2px;
            height: 200%;
            top: 50%;
            left: $l*1.5;
        }
        /* we need to duplicate the above rules, 
         * because the :last-child:after below has higher specificity
         */
        &:last-child:after{
            height: 100%;
            width: 2px;
            left: $l*1.5;
            top: 0;
        }
    }

    &:last-child:after{
        width: 100%;
        left: 0;
    }
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
    }
    &:before{
        width: .5em;
        height: .5em;
        border-radius: 50%;
        top: $l*1.5;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $gray;
    }
    &:after{
        width: 200%;
        height: 2px;
        top: $l*1.5;
        left: 50%;
        background: $gray;
        transform: translate(-50%, -50%);
    }

    &-date{
        font-size: $font-mini;
    }
    &-name{
        margin-top: ($l * 0.5);
        line-height: 1.2;
    }
}