@import "scss/styles";

.comparison {
    width: 100%;

    .fauxtable__cell {
        flex: 1 1 auto;
        @include medium {
            flex: 1 1 100px;
        }
    }
    &__value {
        @include medium {
            flex: 1 0 4em;
            text-align: right;
        }
    }
    &__stat {
        @include medium {
            flex: 0 0 10em;
        }
    }
    &__row {
        @include medium {
            display: flex;
        }
        margin: 0 -0.5rem;
    }
    &__module {
        flex: 1 1 1px;
        // box-shadow: 1px 1px 3px fade-out($gray-dark, 0.6);
        // background: $bg-color;
        margin: 0.5rem;
        position: relative;

        &__header {
            padding: 1rem 0;
            font-weight: bold;
            @include medium {
                padding: 1rem;
            }
        }
        &__content {
            @include medium {
                padding: 1rem;
            }
        }
        .stat {
            margin-bottom: 1rem;
        }
    }
    .playerlist__header {
        display: inline-block;
        margin: 1rem;
    }
    &__players {
        display: inline-block;
    }
    &__player {
        display: inline-block;
        margin-right: 1rem;

        a {
            color: $font-color;
        }
    }
    &__mmr,
    &__ops {
        flex: 2 1 1px;
    }
    &__ranking,
    &__wlr {
        flex: 1 1 1px;
    }
    .chart .ct-horizontal {
        display: none;
    }
    .chart .ct-series,
    .chart .indicator {
        &.player-0 {
            stroke: $accent;
            background-color: $accent;
        }
        &.player-1 {
            stroke: $black-ice;
            background-color: $black-ice;
        }
        &.player-2 {
            stroke: $dust-line;
            background-color: $dust-line;
        }
        &.player-3 {
            stroke: $skull-rain;
            background-color: $skull-rain;
        }
        &.player-4 {
            stroke: $red-crow;
            background-color: $red-crow;
        }
        &.player-5 {
            stroke: $velvet-shell;
            background-color: $velvet-shell;
        }
        &.player-6 {
            stroke: $operation-health;
            background-color: $operation-health;
        }
        &.player-7 {
            stroke: $white-noise;
            background-color: $skull-rain;
        }
        &.player-8 {
            stroke: magenta;
            background-color: magenta;
        }
    }
}
.opschart {
    width: 100%;
    border-spacing: 0;

    td {
        vertical-align: middle;
        border-bottom: 1px solid fade-out($white, 0.6);
        @include medium {
            border: none;
        }
    }
    .icon {
        width: 3rem;
        height: 3rem;

        // @include medium {
        //     width: 4rem;
        //     height: 4rem;
        // }
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;

        width: 5rem;

        span {
            font-size: fz(-2);
        }
    }
    &__ops {
        display: flex;
        margin-left: 1rem;
        flex-direction: column;
        justify-content: flex-end;

        @include medium {
            flex-direction: row;
        }
    }
    &__attackers,
    &__defenders {
        display: flex;
    }
    &__defenders {
        @include medium {
            margin-left: 2rem;
        }
    }
}

.playerlabel {
    padding: 1rem;
    background: $bg-color;
    &__remove {
        margin-left: 2rem;
        cursor: pointer;
    }
}
