@import "scss/styles";

.rankstab {
    padding: 1rem;

    @include large {
        padding: 0;
    }
    &__controls {
        margin: 1rem 0;

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 1rem;

            @include medium {
                flex-direction: row;
            }
        }
        label {
            margin: 0 1rem 0 1rem;
            font-size: 0.9em;
        }
    }

    &__table {
        flex: 1;

        .fauxtable__cell {
            text-align: right;
            align-items: center;
            display: flex;
        }
        .fauxtable__heading {
            cursor: pointer;
            user-select: none;

            &.is-active {
                color: $primary;
            }
        }
        .fauxtable__heading,
        .fauxtable__cell {
            padding: 1rem 1.5rem;
        }
        .fauxtable__row {
            overflow: hidden;
        }
        .name {
            text-align: center;
        }
        .region {
            white-space: pre;
            text-overflow: ellipsis;
        }
        .rank {
            text-align: left;
            margin: 0;
        }
        .rank-image {
            display: none;
        }

        @include medium {
            .fauxtable__cell,
            .fauxtable__heading {
                flex: 1 0 0;
            }
            .region {
                justify-content: flex-start;
                text-align: left;
                flex-grow: 3;
            }
            .rank {
                flex-grow: 4;
                justify-content: flex-start;
                text-align: left;
                padding: 0;
                .rank-image {
                    display: inline-block;
                    width: 4rem;
                    height: 4rem;
                    margin-right: 0.5rem;
                }
            }
            .season {
                flex-grow: 1;
                justify-content: flex-start;
                text-align: left;
            }
            .skill_mean {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 1;
            }
            .skill_stdev {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 1;
            }
            .wins {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 2;
            }
            .losses {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 2;
            }
            .abandons {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 2;
            }
            .wlp {
                flex-grow: 2;
                justify-content: flex-end;
                text-align: right;
            }
            .mmr {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 2;
            }
            .max_mmr {
                justify-content: flex-end;
                text-align: right;
                flex-grow: 2;
            }
        }
    }

    &__subtletext {
        color: $font-subtle-color;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        opacity: 0.6;
    }
}
