@import "scss/styles";

.seasoncard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: $l;
    border-radius: $borderradius;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, transparent 20%, $bg-color 80%);

    @include large {
        .seasoncard {
            margin-bottom: $l*2;

            // &__hero {
            //     flex: 0 0 $l*12;
            //     border-bottom: none;
            //     border-right-width: 2px;
            //     border-right-style: solid;
            // }
            &__season {
                height: 100%;
                display: flex;
            }
            &__content {
                display: flex;
                flex-direction: row;
                flex: 1;
                padding: $l 0 $l;
            }
        }
        .regionstats {
            flex: 0 0 33%;
            padding: 0 $l;
        }
    }

    &__hero {
        flex: 0 0 auto;
        position: relative;
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.fadeimage--loaded {
            opacity: 0.2;
        }
    }
    &__season {
        position: relative;
        padding: $l;
        font-weight: bold;
    }
    &__stats {
        min-height: 1px;
    }
    &__emptyindicator {
        height: 1px;
        width: 80%;
        background: $gray;
    }

    &--season-8 {
        .seasoncard__hero {
            border-color: $white-noise;
        }
        .seasoncard__season {
            color: $white-noise;
        }
    }
    &--season-7 {
        .seasoncard__hero {
            border-color: $blood-orchid;
        }
        .seasoncard__season {
            color: $blood-orchid;
        }
    }
    &--season-6 {
        .seasoncard__hero {
            border-color: $operation-health;
        }
        .seasoncard__season {
            color: $operation-health;
        }
    }
    &--season-5 {
        .seasoncard__hero {
            border-color: $velvet-shell;
        }
        .seasoncard__season {
            color: $velvet-shell;
        }
    }
}

.regionstats {
    display: flex;
    flex-direction: column;

    &__region {
        margin: 0 0 $l;
        font-weight: bold;
    }
    &__stats {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .stat {
        flex: 1 1 50%;
    }
}
