@import "scss/styles";

.seasoncard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: $l;
    border-radius: $borderradius;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    @include large {
        &__content {
            flex-direction: row;
            padding-right: 0;
        }
        &__season {
            display: block;
            width: 25%;
            flex: auto;
        }
        &__regions {
            display: block;
            width: 75%;
            flex: auto;
        }
        .regionstats {
            width: 3%;
            flex: auto;
            padding: 0 $l;
            border-bottom: 0;
            &__rankicon {
                flex-basis: 3.5rem;
                height: 3.5rem;
                position: relative;
                top: 2px;
            }
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: brightness(30%);
        opacity: 0.5;
    }
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding: $l 0;
    }
    &__season {
        display: block;
        padding: 0 $l;

        svg{
            height: 4rem;
            transform-origin: top left;
            transform: scale(1.25);
            transition: transform 200ms ease-out;
            .seasoncard--collapsed & {
                transform: scale(1);
            }
        }
    }
    &__regions {
        &row{
            display: flex;
            flex: 1;
            flex-direction: row;
        }
    }
    &__stats {
        min-height: 1px;
    }
    &__emptyindicator {
        height: 1px;
        width: 80%;
        background: $gray;
    }
}

.regionstats {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lighten($gray-dark, 15%);
    padding-top: $l;
    padding-bottom: $l;

    &:last-child {
        border-bottom: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__region {
        font-size: $font-bigger;
        line-height: 1.5;
    }
    &__rank {
        font-weight: 600;
        color: $font-subtle-color;
    }
    &__rankicon {
        flex-basis: 3rem;
        height: 3rem;
    }
    &__stats {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin: ($l*1.5) 0 $l;
        transition: all 200ms ease-in-out;
        max-height: $l*8;
        overflow: hidden;

        &--empty {
            margin-bottom: 0;
        }
        .seasoncard--collapsed & {
            max-height: 0;
            margin: 0;
        }
    }
    .stat {
        flex: 1 1 50%;
    }
}
