@import "scss/styles";

.content-wrapper {
    @include openmenu {
        display: flex;
        flex-direction: row;
    }
}
.app {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.app-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // background: radial-gradient(50% 70% at 50% 15%, lighten($bg-color, 5%) 0%, $black 100%);
    background: linear-gradient(110deg, lighten($bg-color, 5%) 0%, $black 100%);
}
.app-page {
    position: relative;
    padding: $l;
    width: 100vw;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;

    .elementquery {
        flex: 1 1 auto;
        display: flex;
    }

    @include openmenu {
        width: 100%;
    }
}
