@import "styles";

.app{
	width: 100vw;
	flex: 1;
	overflow: hidden;
	position: relative;
}
.content-wrapper{
	@include openmenu {
		display: flex;
		flex-direction: row;
	}
}
.app-page{
	position: relative;
	width: 100%;
	height: 100vh;
	padding-top: $menu-height;
	flex: 0 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	backface-visibility: hidden;
	transform: translateZ(0);
	
	@include openmenu{
		padding-top: 0;
	}
}
.app-background{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	img{
		min-height: 100vh;
		min-width: 100%;
		height: auto;
		width: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	svg{
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
	}
	img, svg{
		position: absolute;
		filter: contrast(0.2) brightness(200%);
	}
}
