@import "scss/styles";
@import "scss/components/reset";
@import "scss/components/typo";

html {
    font-size: percentage(10/16);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    color: $font-color;
    display: flex;
    flex-direction: column;
    background: $bg-color;
    width: 100vw;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 1.4em;
}
.content {
    flex: 1 0 500px;
}
.center {
    text-align: center;
    align-self: center;
}
.background-image {
    position: fixed;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.2;
}

a,
button,
input {
    &:focus {
        outline: 1px solid $color-primary;
    }
}

input {
    padding: 0.5em 1em;
}

select {
    padding: 1rem;
    background: $color-gray-dark;
    color: $font-color;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $borderradius;
}

label {
    display: block;
    color: $font-color-subtle;
    font-size: $font-small;
    font-weight: normal;
    height: 1em;
    margin-bottom: 0.5rem;
}
.container {
    width: 100%;
    max-width: $screen-large;
    margin: 0 auto;
    padding: 0 1rem;

    &--small {
        max-width: $screen-large * 0.85;
    }
}

.row {
    display: flex;
    flex-direction: column;

    @include medium {
        flex-direction: row;
    }
}
.col {
    flex: 0 1 100%;
    margin: 1rem;
    min-width: 0;
}
.card {
    background: $bg-color;
    padding: 1rem;

    &__header {
        display: block;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}

/* set 16px for small devices to prevent ios from zooming into inputs */
select,
textarea,
input {
    font-size: 16px;
    @include medium {
        font-size: $font-default;
    }
}

.blocker {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    border-left: 5px solid $color-accent;
    border-right: 5px solid $color-accent;
    line-height: 1.5;
    padding: 1rem;
    background: fade-out($color-gray-dark, 0.2);
    font-weight: 600;
    border-radius: $borderradius;
    margin: 1rem 0;
    a {
        color: $color-accent;
    }
}

@import "scss/components/card";
