@import "scss/styles";

.statstab {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    width: 100%;

    @include large {
        flex-direction: row;
        &__sidebar {
            width: 25 * $l;
            flex: auto;
        }
    }
    &__statarea {
        display: flex;
        flex-direction: column;
        flex: auto;

        @include medium {
            flex-direction: row;

            .statstab__center {
                width: 66%;
                flex: 1 1 auto;
            }
            .statstab__aside {
                width: 30 * $l;
                flex: auto;
                margin-left: $l;
            }
        }

        @include large {
            .statstab__center {
                margin-left: $l;
            }
        }
    }
}
