@import "scss/styles";

.statstab {
    display: flex;
    flex-direction: column;

    @include large {
        flex-direction: row;

        &__sidebar {
            flex: 0 0 auto;
            width: 340px;
            margin-right: 1rem;
            min-width: 0px;
        }
        &__content {
            flex: 4.5;
            margin-left: 1rem;
            min-width: 0px;
        }
    }

    &--norecord {
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;

        .statstab__center {
            order: 2;
        }
        .statstab__aside {
            order: 1;
        }

        @include large {
            flex-direction: row;

            .statstab__center {
                flex: 3;
                margin-right: 1rem;
                min-width: 0px;
                order: 1;
            }
            .statstab__aside {
                flex: 1;
                margin-left: 1rem;
                min-width: 0px;
                order: 2;
            }
        }
    }
}
