@import "scss/styles";

.search{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    &-query{
        font-size: 3em;
        margin-bottom: $l;
        text-shadow: 0 0 1px $gray-dark;
    }
    &-results{
        width: 100%;

        *:first-child{
            margin-top: 0;
        }
    }
    &__result{
        color: $black
    }
}

.result{
    display: block;
    margin-bottom: $l*2;
    &__span+&__span:before{
        content: " • ";

    }
}