@import "scss/styles";

.app.SEARCH {
    .page__headcontent {
        padding-bottom: $l * 2;
    }
    .page__content {
        padding: ($l * 3) 0 $l;
    }
    .ad {
        max-height: $l * 15;
        margin-bottom: $l * 2;
    }
}

.search {
    &__resultcount.header {
        display: block;
        margin-left: 1rem;
        font-size: fz(-1);

        @include medium {
            display: inline-block;
        }
    }
    &__results {
        width: 100%;

        *:first-child {
            margin-top: 0;
        }
    }
    &__resultcount {
        margin-left: $l;
    }
    &__result {
        color: $font-color;
    }
}
