@import "styles";

.playday{
    @include card;
    font-size: $font-normal;

    @include large{
        font-size: $font-mini;
    }

    &-header{
        margin-bottom: $l;
    }
    &-date{
        margin-right: $l;
    }
    &-content{
        display: flex;
        flex-direction: column;

        @include medium{
            flex-direction: row;
        }
    }
    &-chartcontainer{
        flex: 0 0 64px;
        display: none;
        justify-content:center;
        align-items: center;

        @include large{
            display: flex;
        }

        @include absurd{
            flex: 1 0 150px;
        }
    }
    &-chart{
        width: 90%;
        height: 90%;
        border: 1px solid $gray;
        flex: 0 0 auto;
        
        /* hack to get height equal to width */
        &:before{
            content: "";
            left-top: 100%;
        }
    }
    &-stats{
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        @include medium {
            flex-direction: row;
        }

        table{
            width: 100%;
            margin-bottom: $l*0.5;

            @include medium{
                padding: 0 $l;
            }
        }
        td{
            min-width: $l*4;
            padding: 0 0 0 $l;
            text-align: right;
            &:first-child{
                padding-left: 0;
                text-align: left;
            }
        }
        th{
            color: lighten($gray-dark, 20%);;
            font-size: $font-mini;
            margin-left: $l*0.25;
            text-align: right;
            padding-bottom: $l*0.5;
        }
    }
    &-operator-column{
        flex: 1;
    }
    &-time-column{
        display: none;
        width: $l*14;
        border-left: 1px solid $gray;

        @include medium{
            display: initial;
        }
    }
    &-modes{
        margin-top: - 0.5 * $l;

        th{
            padding-bottom: 3px;
        }
    }
}