@import "styles";

.player{
    &-overview{
        display: flex;
        flex-direction: column;
        padding: 0 $l;


        @include large{
            flex-direction: row;   
        }

        .col{
            flex: 1 1 auto;
        }
        .col-side{
            min-width: 280px;
            flex-grow: 0;

            @include large{
                margin: 0 $l 0 0;
            }
        }
    }
    &-stuff{
        display: flex;
        flex-direction: column;
        @include large{
            flex-direction: row;
        }
    }
    &-currentranks{
        @include card;
        /* reset padding, because the children have their own */
        padding: 0;
    }

    &-timeline{
        @include card;
        flex: 4 1 auto;
        width: 100%;
        margin: 0;
        margin-bottom: $l;

        order: 2;

        @include large {
            margin: $l 0;
            margin-right: $l;
            order: 1;
            width: auto;
        }
    }
    &-gamemodes{
        @include card;
        flex: 2 1 auto;
        width: 100%;
        margin: 0;        
        margin-bottom: $l;
        order: 1;
        
        @include large {
            margin: $l 0;
            order: 2;
            width: auto;
        }
    }

    /* stat overview card */
    &-summary{
        @include card;
        padding-left: 0;
        padding-right: 0;

        @include large {
            /* remove bottom margin, because it doesn't collapse with the sibling */
            margin-bottom: 0;
        }
    }
}