@import "styles";

.player{
    &-overview{
        display: flex;
        flex-direction: column;
        padding: 0 1%;


        @include large{
            flex-direction: row;   
            padding: 0 $l;
        }

        .col{
            flex: 1 1 auto;
            @include gridmargins;
        }
        .col-side{
            min-width: 320px;
            flex-grow: 0;
            margin: 1%;
            margin-bottom: 0;
            @include large{
                margin: $l;
            }
        }
    }

    &-stuff{
        display: flex;
        flex-direction: column;
        
        @include large{
            flex-direction: row;
        }
    }

    &-timeline{
        flex: 4 1 auto;
        width: 100%;
        margin: 1%;
        margin-left: 0;
        order: 2;

        @include large {
            margin: $l;
            margin-left: 0;
            order: 1;
            width: auto;
        }
    }

    &-gamemodes{
        flex: 2 1 auto;
        width: 100%;
        margin: 1%;
        margin-left: 0;
        order: 1;
        
        @include large {
            margin: $l;
            margin-right: 0;
            order: 2;
            width: auto;
        }
    }
}