@import "scss/styles";

.app.FAVORITES {
    .page__headcontent {
        padding-bottom: 2rem;
    }
    .page__content {
        padding: (3rem) 0;
    }
    .ad {
        max-height: 15rem;
        margin-bottom: 2rem;
    }
}

.favorites {
    &__list {
        width: 100%;

        *:first-child {
            margin-top: 0;
        }
    }
    &__subtletext {
        color: $font-color-subtle;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        opacity: 0.6;
    }
}

.playercard {
    &__flair {
        display: none;
        visibility: hidden;

        @include medium {
            display: inherit;
            visibility: visible;
        }
    }
}
