@import "styles";

.profile-module.charts{

    .row{
        flex-direction: column;

        @include large{
            flex-direction: row;
        }
    }
    .chart{
        min-height: 200px;
    }
}