@import "scss/styles";

.idcard{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding-bottom: $l;

    @include medium{
        padding-bottom: 0;
    }
    &.player-module{
        margin: 0;
        flex-direction: column;
        align-items: center;

        @include medium{
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &-image{
        height: $l*8;
        width: auto;
        position: relative;
        img{
            height: 100%;
            width: auto;
        }
        .idcard-level{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: (0.75*$l) $l;
            text-align: center;
            background: $trans-med;
            width: 100%;
        }
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        flex: 1;
        .col{
            margin: $l $l 0;
            flex: none;
        }

        @include medium{
            flex-direction: row;
            height: $l*8;

            .col{
                margin: $l;
                flex: 0 1 auto;
            }
        }
    }
    &-names{
        display: flex;
        flex-direction: column;
        text-align: center;

        >*{
            flex: none;
        }

        @include medium{
            text-align: left;
            min-width: 18em;
        }
    }
    &-name{
        font-size: 2em;
    }
    &-level{
        margin-top: $l*0.5;
    }
    &-simple{
        margin-top: $l*0.5;
        color: $accent;
    }
    &-links, &-tabs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: $l 0 0;

        @include medium{
            justify-content: flex-end;
            padding: 0.5*$l;
            a{
                text-align: right;
            }
        }

        svg{
            width: 1.5em;
            height: 1.5em;
            line-height: 1em;
            vertical-align: middle;
        }
        a{
            color: $accent;
            display: block;
            line-height: 1.4;
            text-align: center;
            margin: 0 $l;
            cursor: pointer;
        }
        .is-active{
            color: $gray;
            cursor: default;
        }
    }
    @include medium{
        &-links.col{
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;

            a{
                padding: ($l*0.75) ($l*0.5);
                margin: 0 0 0 2px;
            }
        }
        &-tabs.col{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    }

    .twitch-logo {
        width: 40px;
        height: 40px;
    }
    .twitch-link {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}