@import "scss/styles";

.topbar{
	display: flex;
    width: 100%;
    height: $topbar-height;
    flex: 0 0 auto;
    @include card;

    @include openmenu{
        &:before{
            content: "";
            position: absolute;
            z-index: 2;
            height: 60px;
            width: 10px;
            background: $gray-dark;
        }
    }

    &-burger{
        width: 40px;
        height: 36px;
        align-self: center;
        margin: 0 $l;
        cursor: pointer;
        flex: 0 0 auto;
        position: relative;

        span, &:before, &:after{
            content: "";
            position: absolute;
            height: 2px;
            left: 10px;
            right: 10px;
            background: $white;
        }
        span{
            top: 50%;
            margin-top: -1px;
        }
        &:before {
            top: 10px;
        }
        &:after {
            bottom: 10px;
        }
        @include openmenu {
            display: none;
        }
    }
    &-menuspacer{
        flex: 0 0 60px;

        @include openmenu{
            display: none;
        }
    }
    &-content {
        flex: 1;
        display: flex;
    }
    .search-form{
        margin: 0;
        height: $topbar-height;
        width: 100%;
        max-width: 100%;
        background: none;
        box-shadow: none;

        input{
            height: $topbar-height;
        }
    }
}