.adsbyfake {
    border: 1px solid magenta;
}

.ad {
    display: block;
    flex: none;

    &--noformat {
        width: 100%;
        height: auto;
    }
    &--leaderboard {
        width: 100%;
        max-width: 729px;
        height: 90px;
    }
    &--largerect {
        width: 100%;
        max-width: 336px;
        height: 280px;
    }
    &--mediumrect {
        width: 100%;
        max-width: 200px;
        height: 250px;
    }
    &--halfpage {
        width: 100%;
        max-width: 300px;
        height: 600px;
    }
    &--mobilebanner {
        width: 100%;
        max-width: 320px;
        height: 100px;
    }
}
