@import "scss/styles";

.settings {
    &__list {
        max-width: $screen-medium;
        margin: 0 auto;
    }
}

.setting {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    border-left: 1px solid $font-subtle-color;

    &__box {
        display: flex;
        flex-direction: row;
        align-items: strech;
        width: 100%;
        padding-left: 2.5rem;
    }

    &__input {
        display: flex;
    }
    &__title {
        font-size: 2em;
        flex-grow: 1;
    }
    &__description {
        margin-top: 1.5rem;
        line-height: 1.4;
        color: $font-subtle-color;
        padding-left: 2.5rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: justify;
    }

    &__toggle {
        display: flex;
        align-items: center;

        label {
            position: relative;
            display: inline-block;
            width: 6.5em;
            height: 3.5em;
            margin-bottom: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.2);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 1.75em;

            &:before {
                position: absolute;
                content: "";
                height: 2.5em;
                width: 2.6em;
                left: 0.75em;
                bottom: 0.5em;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 50%;
            }
        }

        input {
            display: none;

            &:checked + .slider {
                background-color: $accent;
            }
            &:focus + .slider {
                box-shadow: 0 0 1px $accent;
            }
            &:checked + .slider:before {
                transform: translateX(2.5em);
            }
        }

        &text {
            font-size: 1.25em;
            font-weight: 600;
            margin-left: 2.5rem;
            width: 2em;
            text-align: right;
        }
    }
}
