@import "scss/styles";

.drawer{
    position: fixed; 
    left: 0;
    width: 0;
    height: 0;
    z-index: 10;

    &__background{
        width: 100vw;
        height: 100vh;
        background: fade-out(#333, 0.2);
        display: block;
        opacity: 0;
        transform: translate(-100%, 0);
        transition: opacity 200ms ease-in-out;
    }
    &__container{
        position: absolute;
        height: 100vh;
        width: $menu-width;
        top: 0;
        left: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transform: translate(-100%, 0);
        transition: transform 200ms ease;
    }
    
    &--open .drawer{
        &__background{ transform: none; opacity: 1; }
        &__container{ transform: none; }
    }
}
