@import "styles";

.profile{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0 $l;

    @include large{
        flex-direction: row;
         &-sidebar{
             width: 35*$l;
         }
    }
    &-statarea{
        display: flex;
        flex-direction: column;
        flex: 1;

        .profile-module {
            padding: 10px;
        }

        @include openmenu{
            flex-direction: row;

            .profile-center{
                width: 66%;
                flex: 1 1 auto;
                margin-left: $l;
            }
            .profile-aside{
                width: 35*$l;
                flex: 0 0 auto;
                margin-left: $l;
            }
        }
    }
    &-module{
        background: $trans-med;
        margin: $l 0;

        &-header{
            padding: $l $l 0;
            font-size: 1.125em;
        }
        &-divider{
            width: 80%;
            height: 1px;
            background: $gray-dark;
            margin: $l 10%;
        }
    }
}