@import "scss/styles";

.app.HOME {
    .page {
        padding-top: 0;
    }
    .page__head {
        height: 100vh;
    }
    .page__headcontent {
        background: transparent;
    }

    .page__image {
        top: -40px;
        height: calc(100% + 40px);

        @include medium {
            top: -80px;
            height: calc(100% + 80px);
        }
    }

    .topbar__search {
        display: none;
    }

    @include medium {
        .page__headcontent {
            padding-bottom: 100px;
        }
    }
}

.home {
    height: 100%;
    width: 100%;
    .page__image {
        opacity: 0.2;
        filter: saturate(120%) contrast(120%);
    }

    .ad {
        width: 100%;
        max-width: 800px;
        min-height: 80px;
        margin: 0 auto;
    }
    .searchbar {
        width: 90%;
        max-width: 600px;
        height: $l * 5;
        background: $gray-dark;

        @include large {
            &__name {
                font-size: $font-bigger;
            }
        }
    }
    .blocker{
        max-width: 300px;
    }
}
