@import "scss/styles";

.home{
    height: 100%;
    width: 100%;

    .search-form{
        position: relative;
        width: 90%;
        margin-top: 30vh;
    }
    input{
        padding: $l;
    }
    &-disclaimer{
        width: 360px;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        text-shadow: 0 0 1px black;
        border-left: 3px solid $primary;
        border-right: 3px solid $primary;
        line-height: 1.5;
        padding: $l;
    }
}
.HOME .topbar{
    background: none;
    box-shadow: none;
    &:before{
        display: none;
    }
}