@import "scss/styles";

@mixin chrome-mobile-fix {
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        height: calc(100vh - 56px) !important;
        min-height: calc(100vh - 56px) !important;
    }  
}

.app {
    &__page {
        min-height: 100vh;
        @include chrome-mobile-fix;
    }
    &.HOME {
        .page {
            height: 100vh;
            padding: 0;
            @include chrome-mobile-fix;
        }
        .page__head {
            height: 100vh;
            @include chrome-mobile-fix; 
        }
        .page__headcontent {
            background: transparent;
        }
        .page__image {
            top: 0;
            height: 100%;
            opacity: 0.2;
        }
        .topbar__search {
            display: none;
            visibility: hidden;
        }
    }
}

.home {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        width: 10rem;
        margin-bottom: 2rem;

        @include medium {
            width: 15rem;
        }

        @include openmenu {
            display: none;
            visibility: hidden;
        }
    }
    &__search {
        height: 50px;
        max-width: 600px;
        margin-bottom: 1rem;
    }
    .ad {
        width: 100%;
        max-width: 800px;
        min-height: 80px;
        margin: 0 auto;
    }
    .blocker{
        max-width: 300px;
    }
}