@import "scss/styles";

.app {
    &__page {
        min-height: 100vh;
    }
    &.HOME {
        .page {
            height: 100vh;
            padding: 0;
        }
        .page__head {
            height: 100vh;
        }
        .page__headcontent {
            background: transparent;
        }
        .page__image {
            top: 0;
            height: 100%;
            filter: saturate(160%) contrast(105%);
              
        }
        .topbar__search {
            display: none;
            visibility: hidden;
        }
    }
}

.home {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        width: 10rem;
        margin-bottom: 2rem;

        @include medium {
            width: 15rem;
        }

        @include openmenu {
            display: none;
            visibility: hidden;
        }
    }
    &__search {
        height: 50px;
        max-width: 600px;
        margin-bottom: 1rem;
    }
    .ad {
        width: 100%;
        max-width: 800px;
        min-height: 80px;
        margin: 0 auto;
    }
    .blocker{
        max-width: 300px;
    }
}