@import "scss/styles";

.playermodule.charts {
    padding: 0 1rem;

    .chart {
        margin-top: 1rem;

        &__header {
            @include card-header;
            padding-left: 0;
            margin-bottom: 1rem;
        }
    }
    .row {
        flex-direction: column;
        margin-bottom: 2rem;

        @include large {
            &.half {
                flex-direction: row;
            }
            > * {
                width: 50%;
            }
            flex-direction: column;
        }
    }

    .recharts-dot {
        stroke-width: 2px;
        fill: $bg-color;
        fill-opacity: 1;
    }
    .recharts-curve {
        stroke-width: 2px;
    }
    .recharts-default-tooltip {
        background: lighten($bg-color, 5%) !important;
        border: lighten($bg-color, 2%) !important;
        color: $font-color;
    }
    .recharts-default-legend {
        position: relative;
        top: 10px;
        right: -10px;
    }
    .recharts-legend-item-text {
        font-size: 12px;
        color: $font-color-subtle;
        margin-left: 5px;
    }
    .recharts-cartesian-grid {
        stroke: rgba(255, 255, 255, 0.04);
        &-horizontal line {
            stroke-dasharray: 0;
        }
    }
    .recharts-cartesian-axis {
        &-line,
        &-tick-line {
            stroke: rgba(255, 255, 255, 0.04);
        }
        &.yAxis {
            tspan {
                font-size: 11px;
            }
        }
        &.xAxis {
            tspan {
                font-size: 11px;
                margin-top: 50px;
            }
        }
    }
}
