@import "scss/styles";

.seasonoverview {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include large {
        align-items: inherit;
        flex-direction: column;
    }
    &__noinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        text-align: center;
        font-size: $font-big;
        color: $font-color-subtle;
    }
    &__ubipls {
        display: block;
        color: $font-color-subtle;
        flex: none;
        border-left: 1px solid $font-color-subtle;
        padding: 1rem 2rem;

        @include large {
            padding: 0;
            border-left: none;
            margin-top: 1rem;
        }

        span {
            display: block;
            text-align: center;
            line-height: 1.4em;
        }
    }
}

.pastrank {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    flex: 0 0 auto;

    @include large {
        margin: 0.25rem;
        margin-left: 0;
        margin-right: 0;
    }

    &.season-1 {
        border-left: 3px solid $color-blackice;
        .pastrank__season {
            color: $color-blackice;
        }
    }
    &.season-2 {
        border-left: 3px solid $color-dustline;
        .pastrank__season {
            color: $color-dustline;
        }
    }
    &.season-3 {
        border-left: 3px solid $color-skullrain;
        .pastrank__season {
            color: $color-skullrain;
        }
    }
    &.season-4 {
        border-left: 3px solid $color-redcrow;
        .pastrank__season {
            color: $color-redcrow;
        }
    }
    &.season-5 {
        border-left: 3px solid $color-velvetshell;
        .pastrank__season {
            color: $color-velvetshell;
        }
    }
    &.season-6 {
        border-left: 3px solid $color-ophealth;
        .pastrank__season {
            color: $color-ophealth;
        }
    }
    &.season-7 {
        border-left: 3px solid $color-bloodorchid;
        .pastrank__season {
            color: $color-bloodorchid;
        }
    }
    &.season-8 {
        border-left: 3px solid $color-whitenoise;
        .pastrank__season {
            color: $color-whitenoise;
        }
    }
    &.season-9 {
        border-left: 3px solid $color-chimera;
        .pastrank__season {
            color: $color-chimera;
        }
    }

    &.season-10 {
        border-left: 3px solid $color-parabellum;
        .pastrank__season {
            color: $color-parabellum;
        }
    }

    &__icon {
        height: 5rem;
        width: 5rem;
        margin-left: 0.5rem;
        margin-right: 1.5rem;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__season {
        margin-right: 1rem;
        font-size: $font-small;
        font-weight: 600;
        line-height: 1.5;
    }

    &__rank {
        font-size: $font-big;
        font-weight: 600;
    }
    &__mmr {
        margin-left: 1rem;
        color: $font-color-subtle;
        font-size: $font-smaller;
        letter-spacing: 0.02em;
    }
}
