@import "scss/styles";

.seasonoverview {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include large {
        align-items: inherit;
        flex-direction: column;
    }

    &__ubipls {
        display: block;
        color: $font-subtle-color;
        flex: none;
        border-left: 1px solid $font-subtle-color;
        padding: 1rem 2rem;

        @include large {
            padding: 0;
            border-left: none;
            margin-top: 1rem;
        }

        span {
            display: block;
            text-align: center;
            line-height: 1.4em;
        }
    }
}

.pastrank {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    flex: 0 0 auto;

    @include large {
        margin-right: 0;
    }

    &.season-1 {
        border-left: 3px solid $black-ice;
        .pastrank__season {
            color: $black-ice;
        }
    }
    &.season-2 {
        border-left: 3px solid $dust-line;
        .pastrank__season {
            color: $dust-line;
        }
    }
    &.season-3 {
        border-left: 3px solid $skull-rain;
        .pastrank__season {
            color: $skull-rain;
        }
    }
    &.season-4 {
        border-left: 3px solid $red-crow;
        .pastrank__season {
            color: $red-crow;
        }
    }
    &.season-5 {
        border-left: 3px solid $velvet-shell;
        .pastrank__season {
            color: $velvet-shell;
        }
    }
    &.season-6 {
        border-left: 3px solid $operation-health;
        .pastrank__season {
            color: $operation-health;
        }
    }
    &.season-7 {
        border-left: 3px solid $blood-orchid;
        .pastrank__season {
            color: $blood-orchid;
        }
    }
    &.season-8 {
        border-left: 3px solid $white-noise;
        .pastrank__season {
            color: $white-noise;
        }
    }
    &.season-9 {
        border-left: 3px solid $chimera;
        .pastrank__season {
            color: $chimera;
        }
    }

    &__icon {
        height: 5rem;
        width: 5rem;
        margin-left: 0.5rem;
        margin-right: 1.5rem;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__season {
        margin-right: 1rem;
        font-size: 0.8em;
        line-height: 1.4;
    }

    &__rank {
        font-size: 1.125em;
    }
    &__mmr {
        margin-left: 1rem;
        color: $gray;
        font-size: 0.8em;
    }
}
