@import "scss/styles";

/**
 * a media object is a component with an optinal image left,
 * some center content with title, an optional (small) action top right
 * and some optional actions on the bottom.
 * basically the twitter/fb/etc status message component
 */
.media {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-items: center;

    &__icon {
        width: 12rem;
        height: 12rem;
        opacity: 0.25;
        margin-right: 4rem;
    }

    &__image {
        flex: 0 0 6rem;
        margin-right: 1rem;
        height: 6rem;
        // background-color: $trans-med;
    }
    &__content {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        height: 100%;
    }
    &__contentheader {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        justify-content: flex-start;
    }
    &__label {
        color: $font-color-subtle;
        font-size: 0.8em;
        margin-left: 1em;
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        border: 1px solid $font-color-subtle;
    }
    &__header {
        font-size: $font-large !important;
        margin-bottom: 0.25rem;
        padding-top: 0 !important;
    }
    &__text {
        font-size: $font-big;
        color: $font-color-subtle;
        flex: 1 1 50%;
    }
}
