<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>R6DB - Rainbow 6 Player database</title>
	<link rel="apple-touch-icon" sizes="180x180" href="https://r6db.com/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="https://r6db.com/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://r6db.com/favicon-16x16.png" sizes="16x16">
	<link rel="mask-icon" href="https://r6db.com/safari-pinned-tab.svg" color="#ff0000">
	<meta id="meta_description" name="description" content="R6DB is a fan-powered database for Rainbow Six: Siege. Search for Players, check Profiles or view the Leaderboard">
	<meta name="keywords" content="r6db, gitgudscrub, rainbow 6, rainbow six siege, database, stats" />
	<meta name="apple-mobile-web-app-title" content="R6DB">
	<meta name="application-name" content="R6DB">
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
</head>

<body>
	<div id="mount"></div>
</body>

</html>