<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>R6DB - Rainbow 6 Player database</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=QEMej3pWj3">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=QEMej3pWj3">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=QEMej3pWj3">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=QEMej3pWj3" color="#191919">
    <link rel="shortcut icon" href="/favicon.ico?v=QEMej3pWj3">
    <meta name="apple-mobile-web-app-title" content="R6DB">
    <meta name="application-name" content="R6DB">
    <meta name="theme-color" content="#191919">
    <meta id="meta_description" name="description" content="R6DB is a fan-powered database for Rainbow Six: Siege. Search for Players, check Profiles or view the Leaderboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86120096-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-86120096-1');
    </script>
</head>

<body>
    <div id="mount"></div>
    <div id="portal"></div>
</body>

</html>
