@mixin btnvariant($color, $fontcolor:$white){
    border-color: transparent;
    background: $color;
    color: $fontcolor;
        &:hover, &:focus{
            background: darken($color, 10%);
        }
        &.is-outlined{
            background: none;
            color: $color;
            border-color: $color;
            &:hover, &:focus{
                background: $color;
                color: $fontcolor;
            }
        }
    &:disabled {
        background: desaturate( $color, 40% );
    }
}

@mixin btnreset {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    &:focus{
        border: none;
        box-shadow: none;
        outline: none;
    }
}
@mixin card {
}
@mixin card-header{
    padding: (0.5*$l) $l 0;
    font-size: 1.125em;

    &:first-child{
        padding-top: $l;
    }
}
@mixin card-content{
    padding: $l;
}
@mixin card-divider{
    width: 80%;
    height: 1px;
    background: lighten($gray-dark, 15%);
    margin: $l 10%;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder-color($color){
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}

@mixin textshadow{
    text-shadow: 0 0 10px rgba(30, 30, 30, 0.8);
}
@mixin boxshadow{
    box-shadow: 0 2px 4px $gray-dark;
}


@mixin small{
    .contentsize.small &{
        @content;
    }
}

@mixin medium{
    .contentsize.medium &{
        @content;
    }
}

@mixin large {
    .contentsize.large &{
        @content;
    }
}

@mixin openmenu {
    @media screen and (min-width: 1224px){
        @content;
    }
}
