@mixin card {
}
@mixin card-header {
    padding: (0.5*$l) $l 0;
    font-size: 1.125em;

    &:first-child {
        padding-top: $l;
    }
}
@mixin card-content {
    padding: $l;
}
@mixin card-divider {
    width: 80%;
    height: 1px;
    background: lighten($gray-dark, 15%);
    margin: $l 10%;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}

@mixin textshadow {
    text-shadow: 0 0 10px rgba(30, 30, 30, 0.8);
}
@mixin boxshadow {
    box-shadow: 0 2px 4px $gray-dark;
}

@mixin small {
    @content;
}

@mixin medium {
    @media screen and (min-width: $screen-medium) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: $screen-large) {
        @content;
    }
}

@mixin fadeInAnimation($duration, $opacity) {
    animation-duration: $duration;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 1;
    $animation-name: unique-id();
    animation-name: $animation-name;
    opacity: $opacity;

    @keyframes #{$animation-name} {
      from {
          opacity: 0;
      }
      to {
          opacity: $opacity;
      }
    }
}
