@mixin card {
}
@mixin card-header {
    padding: 0.5rem 1rem 0;
    font-size: 1.15em;
    font-weight: 600;

    &:first-child {
        padding-top: 1rem;
    }
}
@mixin card-content {
    padding: 1rem;
}
@mixin card-divider {
    width: 100%;
    height: 1px;
    background: lighten($gray-dark, 15%);
    margin: 2rem 0;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}

@mixin textshadow {
    text-shadow: 0 0 10px rgba(30, 30, 30, 0.8);
}
@mixin boxshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

@mixin flair {
    padding: 0.25em 1em;
    border-radius: 2rem;
    border: 1px solid $primary;
    color: $primary;
    font-weight: 700;
    vertical-align: middle;
    line-height: 1.3;
    margin-left: 1rem;
}

@mixin small {
    @content;
}

@mixin medium {
    @media screen and (min-width: $screen-medium) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: $screen-large) {
        @content;
    }
}

@mixin openmenu {
    @media screen and (min-width: $screen-openmenu) {
        @content;
    }
}
