$black-ice: #2e93b3;
$dust-line: #d0a344;
$skull-rain: #47893b;
$red-crow: #bd1e2c;
$velvet-shell: #6e3c87;
$operation-health: #4a74a9;
$blood-orchid: #ca361c;
$white-noise: #006543;
$chimera: #ffc113;

$primary: #007BFF;
$black: #1c1c1c;
$off-white: hsl(hue($primary), 5%, 85%);
$white: hsl(hue($primary), 5%, 90%);
$accent: #FF6E09;
$link: mix(#2d95cf, $primary, 90%);
$gray-dark: hsl(hue($primary), 3%, 5%);
$gray-darkish: lighten($gray-dark, 20%);
$gray: lighten($gray-dark, 40%);
$gray-light: hsl(hue($primary), 5%, 95%);
$blue-dark: rgb(16, 26, 36);
$trans-high: rgba(16, 16, 16, 0.25);
$trans-med: rgba(16, 16, 16, 0.5);
$trans-low: rgba(16, 16, 16, 0.75);
$success: mix(#17bebb, $primary, 95%);
$warn: mix(#ffc914, $primary, 95%);
$danger: mix(#b62f23, $primary, 95%);

$font-color: $white;
$font-subtle-color: $gray;
$bg-color: #181B1F;

$l: 10px;
$a: 45deg;
$borderradius: 4px;
$borderradius-rel: 0.4em;

$font-tiny: 0.5rem;
$font-smaller: 0.75rem;
$font-small: 0.9rem;
$font-default: 1rem;
$font-big: 1.125em;
$font-bigger: 1.25rem;
$font-large: 1.5rem;
$font-huge: 2.5rem;

$menu-height: 80px;
$menu-width: 280px;
$menu-background: $gray-dark;
$menuMaxWidth: 280px;
$menuMaxOpacity: 0.8;
$menu-hover-color: rgba(227, 214, 148, 1);

$screen-medium: 800px;
$screen-large: 1024px;

$operator-multiplyer: 0.5;
$operator-size: 128px * $operator-multiplyer;

$graphcolor-emea: #a22229;
$graphcolor-ncsa: #0082fb;
$graphcolor-apac: #24a55a;

$tdur: 200ms;

$loading-indicatorsize: 30px;
