.app{
	width: 100vw;
	overflow: hidden;
}
.app-page{
	position: relative;
	width: 100vw;
	height: 100vh;
	flex: 0 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
}
.app-background{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #333;
	
	img{
		min-width: 120vw;
		min-height: 120vh;
		width: auto;
		height: auto;
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		will-change: opacity;
		transition: all $tdur ease-out;
	}
	.blur{
		opacity: 0;
	}
}
