$searchbar-height: $l*5.4;
$detail-image-height: 146px;
$detail-header-height: $detail-image-height + (5*$l);
.detail{
	width: 100%;
	height: 100%;
	color: $white;
	display: flex;
	flex-direction: column;

	.search-form{
		flex: 0 0 auto;
	}
}

.detail-player{
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
}

.detail-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: (3*$l) auto (2*$l);
	padding: 0 (2*$l);
	width: 100%;
	max-width: $screen-yourmom;
	height: $detail-image-height;
	flex: 0 0 auto;
}

.detail-headerimage{
	width: $detail-image-height;
	height: $detail-image-height;
	background: rgba(0, 0, 0, 0.4);
}

.detail-headertext{
	padding: 33px 0 33px 20px;
	background: rgba(0, 0, 0, 0.4);
	flex: 1;
}

.detail-name{
	font-size: 4rem;
	text-shadow: 0 0 1px $gray-dark;
}

.detail-id{
	color: $accent;
}
.detail-content{
	width: 100%;
	height: 100%;
	flex: 1 1 100%;
	background: $gray-dark;
	box-shadow: 0 0 5px $gray-dark;
	>*{
		max-width: $screen-yourmom;
		margin: 0 auto;
	}
}

.detail-backdrop{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0 ,0, 0, 0.3);
	display: block;
	transition: all $tdur ease-out;
	transform: translate(100%, 0);
	z-index: -1;
}

.detail-info{
	padding: $l*2;
	flex: 1 1 auto;
	overflow: auto;
	padding-right: 9px;
}

.detail-aliases{
	// height is detail-content height - all the paddings;
	display: flex;
	flex-direction: row;
	overflow: auto;
	&:after{
		content: "";
		display: block;
		width: 20px;
		height: 100%;
		right: 0;
		top: 0;
	}
	&::-webkit-scrollbar-track{
		shadow: inset 0 6px 0px $gray-dark, inset 0 8px 0px $gray;
		height: 2px;
		background: $gray-dark;
	}
	&::-webkit-scrollbar{
		width: 12px;
		background-color: #F5F5F5;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 10px;
		box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background: $gray;
	}
}

.detail-stats{
	padding: $l*2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
