.detail{
	width: 100%;
	height: 100%;
	color: $white;
	padding: $l*2;
	.player-name{
		@include siege;
		font-size: 4rem;
		margin: 0 0 0.5em 0.2em;
	}
}
.detail-content{
	width: 100%;
	height: 100%;
	padding: $l;
	background: $gray-dark;
}
.detail-backdrop{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0 ,0, 0, 0.3);
	display: block;
	transition: all $tdur ease-out;
	transform: translate(100%, 0);
	z-index: -1;
}
