$searchbar-height: $l*5.4;
$detail-image-height: 146px;
$detail-header-height: $detail-image-height + (5*$l);
.detail{
	width: 100%;
	height: 100%;
	color: $white;
	display: flex;
	flex-direction: column;

	.search-form{
		flex: 0 0 auto;
	}
}

.detail-player{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.detail-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: (3*$l) auto (2*$l);
	width: $screen-yourmom;
	min-width: $screen-yourmom;
	height: $detail-image-height;
	flex: 0 0 auto;
}

.detail-headerimage{
	width: $detail-image-height;
	height: $detail-image-height;
}

.detail-headertext{
	margin-left: 2*$l;
}

.detail-name{
	@include siege;
	font-size: 4rem;
}

.detail-id{
	color: $gray;
}
.detail-content{
	width: 100%;
	height: 100%;
	flex: 1;
	background: $gray-dark;
}

.detail-backdrop{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0 ,0, 0, 0.3);
	display: block;
	transition: all $tdur ease-out;
	transform: translate(100%, 0);
	z-index: -1;
}

.detail-info{
	padding: $l*2;
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	min-height: 100%;
	padding-right: 9px;
}

.detail-time{
	flex: 2 0 50%;
	padding-right: 10px;
}
.detail-aliases{
	flex: 1 0 300px;
	// height is detail-content height - all the paddings;
    max-height: calc(100vh - #{$detail-header-height} - #{$searchbar-height} - #{4*$l});
	overflow: auto;
}
