.playercard{
	@extend .card;
	width: 98%;
	margin: 1%;
	display: flex;
	flex-direction: row;
	padding: $l 0;
	transform: none;
	transition: transform $tdur, opacity $tdur,  ease-out;
	opacity: 1;
	@include medium{
		padding: $l;
	}

	&.is-hidden{
		opacity: 0;
		transform: translateY(100px);
	}

	.card-content{
		padding: 0 $l;
		flex: 1 1 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.card-image{
		@include btnreset;
		display: none;
		cursor: pointer;
		background: $black;
		width: 64px;
		height: 64px;
		@include medium{
			display: block;
		}

		img{
			width: 100%;
			height: auto;
		}
	}
	.player-identification{
		width: 16rem;
		flex: 0 0 auto;
	}
	.player-name {
		@include btnreset;
		cursor: pointer;
		display: block;
		font-size: 1.7rem;
		width: 100%;
		flex: 0 0 auto;
		color: $white;
		text-align: left;
	}
	.player-id{
		font-size: 0.8rem;
		color: $gray;
	}
	.player-uplaylink{
		color: $accent;
		margin: 10px 0;
		display: block;
		margin-right: $l;
		text-decoration: underline;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 0 0 auto;
		text-decoration: none;
	}
	.player-aliases{
		display: none;
		flex: 1 0 auto;
		@include large{
			display: block;
		}

		header{
			color: $gray;
			font-weight: 500;
			font-size: 0.8em;
			line-height: 1.2;
		}
		ul{
			list-style: none;
			margin-right: 15px;
		}
		li{
			display: inline-block;
			margin-right: .5em;
			&:after{
				content:","
			}
			&:last-child:after{
				content:""
			}
		}
	}
}


.player-ccd28cc4-845e-4726-8cf8-e2cac4de82a2,
.player-78de6857-cfa7-4ec2-9f3c-b4b6e145e92f {
	/* 
		i was against this 
		- laxis
	*/
	background: linear-gradient(135deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	.player-name {
		color: #2d547b;
	}
	.player-uplaylink {
		color: $blue-dark;
	}
}

.playercard.player-1b50085a-8a20-4ce6-b75f-db6a00e4d718 {
	box-shadow: 0 0 8px rgb(32, 51, 110);
	&:after{
		content: "Frontend Dude";
		position: absolute;
		left: $l*2 + 64px;
		font-size: 0.7em;
	}
}