.playercard{
	width: 100%;
	background: rgba(16, 26, 36 , 0.5);
	flex: 1 1 100%;
	margin: 1%;
	color: $white;
	display: flex;
	flex-direction: row;
	padding: 15px;
	transform: none;
	transition: transform $tdur, opacity $tdur,  ease-out;
	opacity: 1;
	&.is-initial{
		opacity: 0;
		transform: translateY(100px);
	}
	&.is-leaving{
		position: absolute;
		opacity: 0;
		transform: translateY(100px);
	}
	.card-content{
		padding: 0 $l*1.5;
		flex: 1 1 0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.card-image{
		@include btnreset;
		cursor: pointer;
		background: $black;
		width: 64px;
		height: 64px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.player-identification{
		width: 16rem;
	}
	.player-name {
		@include siege;
		@include btnreset;
		cursor: pointer;
		display: block;
		font-size: 2rem;
		width: 100%;
		flex: 0 0 auto;
		color: $white;
		text-align: left;
	}
	.player-id{
		font-size: 0.8rem;
		color: $gray;
	}
	.player-uplaylink{
		color: $accent;
		margin: 10px 0;
		display: block;
		margin-right: $l;
		text-decoration: underline;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 0 0 auto;
		text-decoration: none;
	}
	.player-aliases{
		flex: 1 0 auto;
		header{
			color: $gray;
			font-weight: 500;
			font-size: 0.8em;
			line-height: 1.2;
		}
		ul{
			list-style: none;
			margin-right: 15px;
		}
		li{
			display: inline-block;
			margin-right: .5em;
			&:after{
				content:","
			}
			&:last-child:after{
				content:""
			}
		}
	}
}
