.search{
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100vh;
}
.search-title.title {
	@include siege;
	@include textshadow;
	text-align: center;
	margin: 0 0 3rem;
	font-size: 12vh;
	color: $gray-light;
	font-variant: small-caps;
	width: 100%;
	// anim
	transition: all $tdur ease-out;
	opacity: 1;
	position: absolute;
	transform: translate(0, 33vh);
}
.search-form.search-form{
	@include siege;
	width: 95%;
	max-width: 735px;
	margin: $l*2 auto 0;
	justify-content: center;
	// anim
	transform: scale(1.1) translate(0, 43vh);
	transition: all $tdur ease-in-out;
}
.search-input{
	position: relative;
	>input{
		width: 100%;
		padding: 0 9*$l 0 $l;
		font-size: 20px;
		height: 100%;
	}
	span{
		position: absolute;
		right: 0;
		height: 100%;
		width: 8*$l;
		display: inline-flex;
		flex-direction: row;
		vertical-align: top;
		align-items: center;
		input{

		}
		label{
			margin: 0 0 0 .3em;
			font-size: 1rem;
			user-select: none;
		}
	}
}
.search-footer{
	margin: 3em auto;
	color: $white;
	flex: 0 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 5vh;
	// anim

	position: absolute;
	bottom: 0;
	transition: all $tdur ease-out;
	opacity: 1;
	transform: none;
	display: flex;
	a{
		color: $accent;
	}
}
.search-results{
	width: 900px;
	margin: $l auto 10vh;
	//anim
	opacity: 1;
	transition: all $tdur ease-in-out;
	transition-delay: 100ms;
	opacity: 0;
	transform: translate(0, 60vh);

	*:first-child{
		margin-top: 0;
	}
}
.search-background{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #333;
	img{
		min-width: 100vw;
		min-height: 100vh;
		width: auto;
		height: auto;
		position: relative;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		will-change: filter;
		transition: all $tdur ease-out;
		filter: none;
	}
}
