.app-pages{
	transition: transform 300ms ease-in-out;
}

.is-searching{
	transform: translate(0,0);

	.app-background .clear{
		opacity: 0;
	}
	.app-background .blur{
		opacity: 1;
	}
	.search-results{
		display: block;
	}
}
.is-results{
	@extend .is-searching;

	.search-title{
		opacity: 0;
		transform: translate(0, -200%);
	}
	.search-form{
		transform: none;
	}
	.search-footer{
		opacity: 0;
		transform: translate(0, 20vh);
		display: none;
		animation: footeranim $tdur;
	}
	.search-results{
		opacity: 1;
		transform: none;
	}
}
.is-detail{
	@extend .is-results;
	.app-pages{
		transform: translate(-100vw, 0);
	}
}

@keyframes footeranim{

	0%{
		opacity: 1;
		transform: none;
	}
	100%{
		display: flex;
		opacity: 0;
		transform: translate(0, 20vh);
	}
	100%{
		display: none;
	}
}
