.app{
	transition: all 300ms ease-out;
	&.is-search{
		transform: translate(0,0);
	}
	&.is-detail{
		transform: translate(-100vw, 0);
	}
}

.is-searching{
	.search-background img{
		filter: blur(3vw) grayscale(1) contrast(0.7) brightness(0.7)
	}
}
.has-results{
	@extend .is-searching;

	.search-title{
		opacity: 0;
		transform: translate(0, -200%);
	}
	.search-form{
		transform: none;
	}
	.search-footer{
		opacity: 0;
		transform: translate(0, 20vh);
		display: none;
		animation: footeranim $tdur;
	}
	.search-results{
		opacity: 1;
		transform: none;
	}
}

@keyframes footeranim{

	0%{
		opacity: 1;
		transform: none;
	}
	100%{
		display: flex;
		opacity: 0;
		transform: translate(0, 20vh);
	}
	100%{
		display: none;
	}
}
