$primary: #880212;
$accent: #ffdb00;
$link: #2d95cf;
$black: desaturate(darken($primary, 25%), 50%); //#030502;
$gray-dark: #2f302f;
$gray: #8d99ae;
$gray-light: #eae8de;
$blue-dark: rgb(16, 26, 36);

$white: #fefefe;

$success: #17bebb;
$warn: #ffc914;
$danger: #e4562e;

$screen-medium: 32rem;
$screen-large: 48rem;
$screen-yourmom: 64rem;

$borderradius: 1px;
$borderradius-rel: .4em;


$nav-height: 3.5em;

$l: 10px;


$sidebar-width: 24*$l;


$tdur: 200ms;
