@import "scss/styles";

.app.LEADERBOARD .page__content {
    position: relative;
    padding-top: 0;
}

.leaderboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &__header {
        @include card;
    }
    &__description {
        color: $gray-light;
        line-height: 1.4;
        font-size: fz(-1);
        font-weight: 500;

        p {
            margin-bottom: $l;
        }
        .is-highlight {
            padding-left: $l;
            border-left: 2px solid $accent;
        }
        a {
            color: $accent;
        }
    }
    &__filters {
        display: flex;
        flex-direction: column;
        margin-top: $l * 2;

        @include medium {
            flex-direction: row;
        }
        p {
            display: flex;
            align-items: center;
            margin-bottom: $l * 0.5;
        }
        label {
            display: inline;
            color: $white;
            font-size: 1rem;
            margin-right: $l * 1.5;
            width: 4rem;

            @include medium {
                width: auto;
            }
        }
        select {
            flex: 1;

            @include medium {
                flex: none;
                margin-right: $l * 2;
            }
        }
        .button {
            margin-top: $l;
            flex: 1;

            @include medium {
                margin-top: 0;
                flex: none;
            }
        }
    }
    &__entries {
        margin: $l * 2 auto 0;

        th {
            text-align: left;
            font-weight: bold;
            padding: $l 0;

            &:first-child,
            &:last-child {
                text-align: center;
            }
        }
    }
}
.entry {
    color: $font-color;

    td {
        vertical-align: middle;
        &:first-child,
        &:last-child {
            text-align: center;
        }
    }
    &__image {
        width: 32px;
        height: 32px;
        margin-right: 20px;
        background-color: $trans-med;

        @include medium {
            width: 48px;
            height: 48px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin: $l 0;
        color: $font-color;
    }
    &__name {
        display: block;
        line-height: 1;
        flex: auto;
        font-size: fz(0);
        @include large {
            font-size: fz(1);
        }
    }
    &__rating {
        font-size: fz(2);
        flex: none;
        @include medium {
            font-size: fz(4);
        }
    }
}

#chanky {
    width: $l * 3;
    position: absolute;
    left: $l * 3;
    bottom: 0;
}
