@import "scss/styles";

.app.LEADERBOARD .page__content {
    position: relative;
    padding-top: 0;
}

.leaderboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &__header {
        @include card;
    }
    &__description {
        color: $gray-light;
        line-height: 1.4;

        p {
            margin-bottom: 1rem;
        }
        .is-highlight {
            padding-left: 1rem;
            border-left: 2px solid $accent;
        }
        a {
            color: $accent;
        }
    }
    &__filters {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        @include medium {
            flex-direction: row;
        }
        p {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }
        label {
            display: inline;
            color: $white;
            margin-right: 1.5rem;
            width: 4rem;

            @include medium {
                width: auto;
            }
        }
        select {
            flex: 1;

            @include medium {
                flex: none;
                margin-right: 2rem;
            }
        }
        .button {
            margin-top: 1rem;
            flex: 1;

            @include medium {
                margin-top: 0;
                flex: none;
            }
        }
    }
    &__entries {
        margin: 2rem auto 0;

        th {
            text-align: left;
            font-weight: bold;
            padding: 1rem 0;

            &:first-child,
            &:last-child {
                text-align: center;
            }
        }
    }
}
.entry {
    color: $font-color;

    td {
        vertical-align: middle;
        &:first-child,
        &:last-child {
            text-align: center;
        }
    }
    &__image {
        width: 32px;
        height: 32px;
        margin-right: 20px;
        background-color: $trans-med;

        @include medium {
            width: 48px;
            height: 48px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        color: $font-color;
    }
    &__name {
        font-size: $font-big;
        display: block;
        line-height: 1;
        flex: auto;
    }
    &__rating {
        font-size: $font-large;
        flex: none;
        @include medium {
            font-size: $font-huge;
        }
    }
}

.entry.is-top {
    .playercard-name {
        font-size: $font-bigger;
    }
    .playercard-image {
        width: 8rem;
        height: 8rem;
    }
}

#chanky {
    width: 3rem;
    position: absolute;
    left: 3rem;
    bottom: 0;
}
