@import "scss/styles";

.app.LEADERBOARD .page__content{
    position: relative;
    padding-top: 0;
}

.leaderboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &__header {
        @include card;
    }
    &__description {
        color: $gray-light;
        line-height: 1.4;

        p {
            margin-bottom: $l;
        }
        .is-highlight {
            padding-left: $l;
            border-left: 2px solid $accent;
        }
        a {
            color: $accent;
        }
    }
    &__filters {
        margin-top: $l*2;
        p {
            display: inline-block;
            margin-right: $l;
        }
        label {
            display: inline;
            color: $white;
            font-size: 1rem;
            margin-right: $l;
        }
    }
    &__entries {
        margin: $l*2 auto 0;

        th {
            text-align: left;
            font-weight: bold;
            padding: $l 0;

            &:first-child,
            &:last-child {
                text-align: center;
            }
        }
    }

    .xAxis{
        display: none !important;
    }
}
.entry {
    color: $font-color;

    td {
        vertical-align: middle;
        &:first-child,
        &:last-child {
            text-align: center;
        }
    }
    &__image {
        width: 32px;
        height: 32px;
        margin-right: 20px;
        background-color: $trans-med;

        @include medium {
            width: 48px;
            height: 48px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin: $l 0;
        color: $font-color;
    }
    &__name {
        font-size: $font-big;
        display: block;
        line-height: 1;
        flex: auto;
    }
    &__rating {
        font-size: $font-large;
        flex: none;
        @include medium {
            font-size: $font-huge;
        }
    }
}

.entry.is-top {
    .playercard-name {
        font-size: $font-bigger;
    }
    .playercard-image {
        width: $l*8;
        height: $l*8;
    }
}

#chanky {
    width: $l*3;
    position: absolute;
    left: $l*3;
    bottom: 0;
}
