@import "scss/styles";

.rankoverview {
    &__global {
        display: flex;
        flex: 1;
        position: relative;
        left: -1rem;
        justify-content: center;

        @include large {
            left: 0;
            justify-content: flex-start;
        }
        .currentrank {
            margin-bottom: 0;
        }
    }
    &__regional {
        display: flex;
        flex-direction: row;
    }
    &__isunderage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $l * 3;
        text-align: center;
    }
    &__vertdivider {
        display: flex;
        flex: 1px 0 auto;
        width: 1px;
        background: lighten($gray-dark, 15%);
        margin: 0 $l;
    }
}

.globalrank {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
        margin-right: $l;
        svg {
            height: $l * 7.5;
            width: $l * 7.5;
        }
    }
    &__rank {
        font-size: fz(2);
        margin-bottom: $l * 0.5;
    }
    &__placement,
    &__toppercentage {
        line-height: 1.5;
        color: $font-subtle-color;
    }
}
.currentrank {
    flex: 1;
    position: relative;
    height: $l * 7.5;
    width: $l * 7.5;
    margin-bottom: 10px;
    z-index: 0;

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        svg {
            height: $l * 7.5;
            width: $l * 7.5;
            opacity: 0.5;
        }
    }
    &__region {
        text-align: center;
        padding: $l * 0.5;
        text-shadow: 0 0 10px $black;
        font-weight: bold;
        z-index: 1;
    }
    &__placement {
        text-align: center;
        margin-top: $l * 3;
        font-size: 1.5em;
        text-shadow: 0 0 2px $black, 1px 0 2px $black, 1px 1px 2px $black;
        font-weight: bold;
        z-index: 2;
    }
}
