@import "styles";

.leaderboard{
    color: $white;
    
    &-header{
        max-width: $screen-yourmom;
        padding: 0 1%;
        margin: 0 auto;
    }
    &-title{
        font-size: 3em;
        margin-bottom: $l;
        text-shadow: 0 0 1px $gray-dark;
    }
    &-description{
        color: $gray-light;
        line-height: 1.4;
        text-shadow: 0 0 1px $gray-dark;
        a{
            color: $accent;
        }
    }
    &-top{
        margin: 3em auto 3em;
        max-width: $screen-yourmom;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &-entries{
        max-width: 900px;
        margin: 0 auto;
        padding: $l;
    }

    &-region{
        margin-top: $l*2;

        &label{
            display: inline;
            color: $white;
            font-size: 1rem;
            margin-right: $l;
        }
        &select{
            background: $gray-dark;
            color: $white;
            padding: .5em 1em;
        }
    }
}
.entry{
    background: $blue-dark;
    padding: 0 ($l*2) 0 $l;
	width: 98%;
	margin: 1%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 3px black;
}
.entry-place{
    font-size: 2rem;
    display: block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    margin-right: $l*2;
}
.entry-name{
    font-size: 1.25rem;
    width: 15em;
    color: white;
}
.entry-link{
    color: $accent;
}
.entry-content{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.entry-rating{
    display: flex;
    align-items: center;
}
.entry-valuelabel{
    display: inline-block;
    margin-right: $l*2;
}
.entry-value{
    display: inline-block;
    font-size: 3em;
}
.entry-value{
    font-weight: bold;
    font-size:  2em;
}
.top-entry{
    width: 310px;
    flex: 0 0 auto;
    height: auto;
    flex-direction: column;
    background: darken($gray-dark, 5%);
    box-shadow: 1px 1px 3px black;
    padding: $l*2 0;
    margin: 4% 2%;
    @include large{
        margin: 1%;
    }

    .entry-place,
    .entry-name,
    .entry-region,
    .entry-link{
        text-align: center;
        width: 100%;
    }
    .entry-place{
        font-size: 4em;
        margin: 0;
        text-align: center;
    }
    .entry-name{
        padding: ($l*1.5) 0;
        text-shadow: 0 0 2px $gray-dark;
        background-size: cover;
    }
    .entry-link{
        padding: ($l*2) 0;
    }
    .entry-rating{
        position: relative;
        display: block;
        width: $l*20;
        height: $l*20;
        line-height: $l*20;
        border-radius: 50%;
        text-align: center;
        margin: ($l*2) auto 0;
        border: 1px solid $white;
    }
    .entry-valuelabel{
        position: absolute;
        left: 50%;
        top: $l*5;
        transform: translate(-50%, 0);
        margin: 0;
        line-height: 1em;
    }
    .entry-value{
        font-size: 3em;
    }
    .entry-img{
        width: 128px;
        height: 128px;
        overflow: hidden;
        position: relative;
        margin-bottom: $l*2;
        
        img{
            opacity: 0.75;
        }
        .entry-place{
            position: absolute;
            top: 0;
            width: 128px;
            height: 128px;
            line-height: 128px;
            text-shadow: 0 0 3px $primary;
            color: white;
        }
    }
    &.is-pos-1{
        align-self: flex-start;
        .entry-name{
            background-image: url(/assets/pattern_gold.svg);
        }
    }
    &.is-pos-2{
        align-self: center;
        .entry-name{
            background-image: url(/assets/pattern_silver.svg);
        }
    }
    &.is-pos-3{
        align-self: flex-end;
        .entry-name{
            background-image: url(/assets/pattern_bronze.svg);
        }
    }
}

.bottom-entry{
    .entry-link{
        display: none;
    }
    .entry-rating{
        display: none;
    }
    @media screen and (min-width: 570px) {
        .entry-rating{
            display: flex;
        }
    }
    @include large{
        .entry-link{
            display: block;
        }
    }
}

#chanky {
    width: 30px;
    position: absolute;
    left: 30px;
}
