@import "scss/styles";

$searchbar-height: $l*5.4;
$profile-image-height: 146px;
$profile-header-height: $profile-image-height + (5*$l);

.profile {
    color: $white;
    display: flex;
    flex-direction: column;

    .search-form {
        flex: 0 0 auto;
    }

    .card {
        margin: $l*0.5;

        @include medium {
            margin: $l*0.5;
            flex: 1 1 40%;
            display: inline-block;
        }
        .row {
            display: flex;
            flex-direction: row;
            padding: ($l*0.5) 0;
        }
        .label {
            flex: 1 1 35%;
            color: $gray;
        }
        .value {
            flex: 1 1 65%;
            text-align: right;
        }
    }

    &-player {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &-identification {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-header {
        @include card;
        margin: 0 auto;
        width: 100%;

        @include large {
            flex-direction: row;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: $l;

        @include large {
            flex-direction: row;
        }
    }

    &-headerimage {
        position: relative;
        width: 10*$l;
        height: 10*$l;

        img {
            width: 100%;
            height: 100%;
        }
        @include large {
            width: $profile-image-height;
            height: $profile-image-height;
        }
    }
    &-level {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        background: $trans-med;
        text-align: center;
    }

    &-headertext {
        padding: $l 0 0 $l;
        flex: 1;
    }
    &-name {
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-shadow: 0 0 1px $gray-dark;

        @include medium {
            font-size: 2rem;
        }
        @include large {
            font-size: 3rem;
        }
    }
    &-flair {
        color: $gray-light;
        margin-bottom: $l;
    }
    &-global-rank {
        span {
            font-weight: 800;
        }
    }
    &-seasonranks {
        display: flex;
        padding: 0 $l;
        flex-direction: row;
        align-self: center;
        flex-wrap: wrap;
        justify-content: center;

        @include large {
            justify-content: space-between;
        }
    }
    &-id {
        color: $accent;
    }
    &-extended {
        color: $accent;
        margin-top: $l*0.5;
        display: block;
    }

    &-aliases {
        // height is profile-content height - all the paddings;
        display: flex;
        flex-direction: row;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        width: auto;
        transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;

        &:after {
            content: "";
            display: block;
            width: 20px;
            height: 100%;
            right: 0;
            top: 0;
        }
    }

    &-stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: ($l*0.5) (-$l*0.5);
    }
}

.quiet {
    color: #666;
}
.rank {
    margin: 0 $l;

    &-image {
        width: 6 * $l;
        height: 6 * $l;
    }
    &:last-child {
        margin: 0;
    }
}

.profileerror {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profileerror-title {
    height: 146px;
    flex: 0;
    width: 100%;
    max-width: $screen-large;
    margin: 0 auto;
    padding: (2*$l) 0 (3*$l) (2*$l);
    background: $trans-med;
    font-size: 3rem;
    line-height: 106px;
    font-weight: bold;
    text-shadow: 0 0 1px $gray-dark;
}
.profileerror-content {
    background: $gray-dark;
    box-shadow: 0 0 5px $gray-dark;
    max-width: $screen-large;
    width: 100%;
    margin: 0 auto;
}

.profileerror-message {
    padding: $l*2;
    line-height: 1.4;
}
