@import "scss/styles";

.searchbar {
    display: flex;
    width: 100%;
    max-width: 90*$l;
    flex: 0 0 auto;
    height: 4*$l;
    margin: $l*2 auto;
    justify-content: center;
    align-items: stretch;
    background: fade-out(black, 0.4);
    border-radius: $borderradius;
    overflow: hidden;

    &__name {
        background: none;
        color: $font-color;
        padding: $l;
        width: calc(100% - 4rem);
        height: 100%;
        @include placeholder-color(darken($gray-light, 20%));

        &:focus {
            outline: none;
        }
    }
    &__platform {
        width: 4rem;
        background: none;
        margin: 0;
        box-shadow: none;
        padding: 0;
        -moz-appearance: none;
        font-size: $font-smaller;

        @include large {
            font-size: $font-default;
        }
        option {
            color: $black;
        }
    }
    &__submit.button {
        flex: 0 1 auto;
        padding: 0.5em 1em;
        border: none;
        cursor: pointer;
    }
}
