@import "scss/styles";

.searchbar {
    display: flex;
    width: 100%;
    max-width: 90*$l;
    flex: 0 0 auto;
    height: 4*$l;
    margin: $l*2 auto;
    justify-content: center;
    align-items: stretch;
    background: $gray-dark;
    box-shadow: 0 0 5px $gray-dark;

    @include large {
        height: 6*$l;
    }

    &__name {
        background: none;
        color: $font-color;
        padding: $l $l $l 0;
        width: calc(100% - 4rem);
        height: 100%;
        @include placeholder-color(darken($gray-light, 30%));

        @include large {
            font-size: 1.25rem;
        }

        @include openmenu {
            padding: $l ($l*2);
        }

        &:focus {
            outline: none;
        }
    }
    &__platform {
        width: 4rem;
        background: none;
        margin: 0;
        box-shadow: none;
        padding: 0;
        -moz-appearance: none;
        font-size: $font-smaller;

        @include large {
            font-size: $font-default;
        }
        option {
            color: $black;
        }
    }
    &__submit {
        flex: 0 1 auto;
        padding: 0.5em 1em;
        cursor: pointer;

        @media screen and (min-width: 720px) {
            flex: 0 0 auto;
            padding: 0.5em 3em;
        }
    }
}
