@import "scss/styles";

.fauxtable {
    @include card;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;

    &__head {
        flex: none;
        display: flex;
        flex-direction: column;
        background: $trans-med;
    }

    &__body {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__row {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        justify-content: space-between;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &:hover {
            background: rgba(200, 200, 200, 0.1);
        }
    }

    &__heading,
    &__cell {
        padding: 1rem;
    }
    &__heading {
        font-weight: bold;
    }
    &__cell {
        flex: 0 0 auto;
    }

    @include medium {
        flex-direction: column;
        &__head {
            flex-direction: row;

            .fauxtable__row {
                align-items: center;
            }
        }
        &__heading {
            text-align: center;
        }
        &__body {
            flex-direction: column;
        }
        &__row {
            flex-direction: row;
        }
        &__cell,
        &__heading {
            padding: 1.5rem;
        }
    }
}
