@import "scss/styles";

.playercard {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    margin-bottom: 2rem;

    &__image {
        background-color: darken($bg-color, 2%);
        margin-right: 2rem;

        img {
            width: 5rem;
            height: 5rem;
        }
    }
    &__user {
        flex: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: 5px;
    }
    &__info {
        text-align: right;
        flex-direction: column;
    }
    &__span {
        color: $font-subtle-color;
    }
    &__namebox {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: $font-bigger;
        font-weight: 600;
    }
    &__flair {
        @include flair;
        font-size: 0.75rem;
    }
    &__aliases {
        opacity: 0.75;
    }

    &__actions {
        display: flex;
        flex-shrink: 0;
        flex-basis: auto;
        border-left: 1px solid rgba($font-subtle-color, 0.2);
        margin-left: 2rem;
        padding: 1rem 1rem 1rem 2rem;

        .icon {
            width: 1.25em;
            height: 1.25em;
            fill: $primary;
        }
    }
}
