@import "styles";

.statoverview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $font-normal;
    

    @include large{
        flex-direction: row;
        font-size: $font-small;
    }

}

.stat-section{
    flex: 1 0 auto;
    padding: 0 ($l*0.5);
    margin-bottom: $l;
    font-size: $font-normal;

    @include large{
        margin-bottom: 0;
        font-size: $font-mini;

        + .stat-section{
            border-left: 1px solid $gray;
            border-right: 1px solid transparent;
        }
    }

    &-title{
        font-size: $font-mini;
        margin-bottom: $l*0.6;
        /* cols have .5 left + 1 from table */
        padding-left: $l*0.6;
    }

    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .stat-column:first-child{
        padding-right: $l*2;
    }
}
.stat-column{
    flex: 1;
    padding: 0 ($l*0.5);
    
    table{
        width: 100%;
    }
}

.stat{

    &-label{
        text-align: left;
        padding-right: 5px;
        padding-bottom: 1px;
        color: lighten($gray-dark, 20%);
    }
    &-value{
        text-align: right;
        padding-bottom: 1px;
        color: $black
    }
}

.stats-general{
    @include large{
        width: 40%;
    }
}
.stats-ranked,.stats-casual{
    @include large{
        width: 30%;
    }
}